[2019-07-26 17:38] atyshka commented on #71
@MCMrARM does your wifi fix only work for 2018 MBP? I have a 2016 MBP and `ioreg -l | grep module-instance` outputs nothing.

[2019-07-26 17:44] gbrow004 commented on #71
@atyshka Have you tried this? It's for Ubuntu, in case you're using a different distro.

https://foolcontrol.org/?p=2928

[2019-07-26 18:12] MadmaxHart commented on #71
I was wondering if you can press somethung (like a key) that will turn the touchbar with the teskbar into the function keys for you can press f1 or f12.

[2019-07-26 19:32] MCMrARM commented on #71
Apparently most of the audio properties are documented are are 4-letter names, this makes this much simpler. Unless the audio is sent using some weird format, the biggest difficulty should be only establishing the communication channel.

[2019-07-26 20:27] MCMrARM commented on #71
The descriptor for the speaker, here's how to interpret it: https://github.com/phracker/MacOSX-SDKs/blob/master/MacOSX10.8.sdk/System/Library/Frameworks/CoreAudio.framework/Versions/A/Headers/CoreAudioTypes.h#L217 (some random repo I found in Google, feel free to check it in your own OS X headers instead)
[code]
So, after hand-decoding:
[code]
`mcpl` is not documented in any headers, great.

[2019-07-26 20:30] imbushuo commented on #71
@MCMrARM I would read it reversely (endianness?) and say it is Linear PCM, but I could be wrong.

[2019-07-26 20:48] imbushuo commented on #71
Touch Bar Input HID descriptor: https://pastewebapp.azurewebsites.net/qu1v0z5

[2019-07-27 00:59] roadrunner2 commented on #71
@imbushuo:

Not sure what you mean by "but actually not" - the input report sent by the Touch Bar will always contain 10 slots - "Touch" bit will indicate if there is a finger down.

I've looked before and haven't managed to figure out what usage 0x23 is - all I know is that usage page 0xff00 is Microsoft.

Sends when? Not for the input event, I presume, which should be 52 bytes (4*10+12).

[2019-07-27 01:01] imbushuo commented on #71
@roadrunner2

Actually 56 bytes for all

Confirmed.

[2019-07-27 01:24] roadrunner2 commented on #71
@MCMrARM:

I just remembered this question as I was looking at something else, so it's probably too late now, but for future reference and in case others have the same question: I generally use `dtrace` (mainly with fbt probes) to trace the drivers on MacOS and what data they are sending and receiving, and `dtrace` has the concept of [anonymous tracing](http://dtrace.org/guide/chp-anon.html) which

[2019-07-27 01:33] roadrunner2 commented on #71
@imbushuo:

Hmm, I wonder where the extra 4 bytes are coming from - there is an empty collection at the end in the report descriptor - maybe it's missing the entry/entries for those 4 bytes? (though I would've expected Apple to fix a buggy report descriptor between the T1 and T2 chips, but the descriptors are identical)

[2019-07-27 08:25] roadrunner2 commented on #71
@MadmaxHart:

In the case of the "fancy" touchbar with various custom keys etc it is/will be all driven from userspace, so it'll be entirely up to whatever app(s) people write to control the touchbar. If/when we get there.

[2019-07-27 20:10] MCMrARM commented on #71
@imbushuo :man_facepalming: of course.

So, I got random noise working, sort of. Can't get actual audio playback yet, it's a bit problematic to get the format right, and I have a freeze I have trouble debugging.

[2019-07-27 20:25] imbushuo commented on #71
@roadrunner2  Seems I can reliably put content on the Touch Bar now: https://youtu.be/vZVd06JPz_U

[2019-07-28 19:28] MCMrARM commented on #71
So, I can put about a single frame of audio (speaker-test can play for like 0.5s or so, then it glitch-loops).
Now, I have no idea about ALSA and how am I supposed to sync up the hardware with it. I'd appreciate help, I'll try to rewrite my shitty local unpushed code tomorrow so if anyone wants to help it'll be doable.
I'm however about to give up on audio for another reason. For some reason the t

[2019-07-28 19:35] MCMrARM commented on #71
Oh, also, if someone can help me obtain the `bridgeaudiod` file from bridgeOS I'd appreciate it a lot as well.

[2019-07-28 20:10] MCMrARM commented on #71
Great news, I figured out __why__ that timestamp was wrong, I disabled kext signing and broke the `initTimestamp` function in OS X and OS X started to suffer from the same issue, so yeah => my BCE timestamp code is broken.

[2019-07-29 00:18] imbushuo commented on #71
Regarding Touch Bar digitizer input report: although the descriptor reports Generic Desktop Y, the value has never been useful (either 0 or 63). If someone wants to implement customized touch interface for Touch Bar, the only usable Touch data is X axis (0 to 32768), which means most UI elements should be full height and the framework should be able to handle such touch events.

[2019-07-29 02:48] CuriousTommy commented on #105
@Dunedan Awesome! If I have time in the future, I will make a new report about my parent's 2019 iMac.

[2019-07-29 02:48] #105 closed

[2019-07-29 17:04] MCMrARM commented on #71
I got the goddamn audio to working, even if slightly glitchy, it'll take me a while to open source this thing though, as it's again hacks piled on other hacks. Thank you alsa developers for documenting the fact that I have to call `snd_pcm_period_elapsed`, as this literally wasted 4 hours of my time if not more as I thought the issue was somewhere else and the example completely skipped it.

[2019-07-29 19:59] marc-git commented on #71
holy crap been going back and forth to this page over the last two years. Yesterday I signed up to watch the thread and BOOM! Looking forward to a description of what needed doing!

[2019-07-30 07:59] marc-git commented on #47
I personally find the `iwconfig wlp3s0 txpower 10`  (or even txpower 1) works very well and results in a stable connection (14,3)
Anyone know how to do that automatically at startup ? I'm on debian 10, and so impressed with the work you guys are doing I'm considering of switching to debian as my primary system. Typing the command at startup each time is frustrating though.  I passed a command in c

[2019-07-30 08:02] marc-git commented on #47
P.S.: It is my experience that the bluetooth and wifi interfere. I disabled mine at startup using :
`gsettings set org.blueman.plugins.powermanager auto-power-on false`

which allows me to re-enable using blueman.

[2019-07-30 08:31] jgmbenoit commented on #47
For Debian (and Ubuntu) I will look for a ifupdown script (in /etc/network).

[2019-07-31 13:42] GoncaloHit commented on #71
are you able to do a build release ? even if its not microsoft signed ? im using an unsigned driver on windows for the touchpad, would like to test your touchbar driver, thanks

[2019-07-31 14:31] MCMrARM commented on #71
I solved the biggest issues with the audio glitches (doesn't mean it's completely glitchless though) and rewrote my audio code, the code is available at: https://github.com/MCMrARM/mbp2018-bridge-drv
Compile using `make -j8 .` and load using `insmod bce.ko`
Please note that this is the same driver as the one for VHCI, because both VHCI and audio require access to the BCE. I'll split the drivers la

[2019-07-31 14:47] serniko97 commented on #71
Hello, I'm the happy possessor of a MacBook Pro 15" of 2016 with the T1 chip.
I'm doing nothing this month so I'd be happy to help you, especially for a fully featured TouchBar on Windows 10.
Sadly I don't have enough space for Visual Studio on Bootcamp and I need an executable.

For the sound thing I just wanna warn you to not damage your speakers, I remember the first version of Bootcamp driver

[2019-07-31 16:49] marc-git commented on #71
Do you get these errors at all?:

`make -j8
make -C /lib/modules/4.19.0-5-amd64/build M=/home/marc/mbp2018-bridge-drv modules
make[1]: warning: jobserver unavailable: using -j1.  Add '+' to parent make rule.
make[1]: Entering directory '/usr/src/linux-headers-4.19.0-5-amd64'
  CC [M]  /home/marc/mbp2018-bridge-drv/pci.o
  CC [M]  /home/marc/mbp2018-bridge-drv/mailbox.o
  CC [M]  /home/marc/mbp2018

[2019-07-31 17:23] MCMrARM commented on #71
@serniko97 thanks for the warning about the speakers breaking, however if they were to break for me, they'd already have (unless it's some slowly accumulating damage).

Anyways, I just used the laptop to play media for 2 hours in a row and it worked pretty nicely. Note that I have a hack to make the VHCI command queue synchronous which I haven't pushed onto github yet, which makes the communicatio

[2019-07-31 18:00] marc-git commented on #71
@MCMrARM OK.  I noticed in your source you're targetting Apple T2 Sound. Is that equivalent to the one on MBP 14,3 ? If so maybe I can assist with testing / compatibility for kernel 4.19.  FYI At the moment 4.19.0-5 is the version for Debian Stable/testing/sid. So probably the biggest general use case for a while.

[2019-07-31 18:02] MCMrARM commented on #71
@marc-git T2 is the chip used in the 2018 and 2019 MBPs.
It might be worthwhile porting this to 4.19 but as right now this driver is still in development, I'd suggest updating it rather than backporting. The goal is to eventually upstream it, and because of that older releases are secondary (you can always install a newer unofficial linux kernel package on these distributions).

[2019-07-31 18:05] MCMrARM commented on #71
@marc-git I just checked and 14,3 sounds like a 2017 model, and I checked the lspci output from this repo and it doesn't seem like it has the T2 PCI chips present, so sadly I don't think it'll work on that.

[2019-07-31 18:06] marc-git commented on #71
@MCMrARM yeah beat me to it. Doesn't fit. Good work anyways. Just reading through the source code. Must have been a nightmare getting this going...

[2019-07-31 18:12] MCMrARM commented on #71
Writing the driver itself wasn't, guessing how to make that driver fit into the alsa architecture however was, as my attempts to get help on the Alsa mailing list were completely ignored and I had to come up with hacks. If anyone has any better idea where to ask for help, let me know.
(Unless I can get help somewhere I'm not going to be able to fix the remaining glitches, as I'm far from being an

[2019-07-31 18:44] imbushuo commented on #71
@serniko97 @GoncaloHit Put Windows-specific discussion to [here](https://github.com/imbushuo/DFRDisplayKm/issues), I am using Windows for Touch Bar prototyping because it is more convenient to do VHCI device development on it. Eventually I might start working on a Linux Touch Bar display kernel module too.

[2019-07-31 19:34] marc-git opened #108 "13,2 to 14,3 Audio Codecs"
Not much has been completed but there is some activity. Was thinking of adding this somewhere:

A bit of activity happening here:  https://github.com/davidjo/snd_hda_macbookpro

See also: https://bugzilla.kernel.org/show_bug.cgi?id=195671

Audio drivers to 13,2 / 13,3 probably same as 14,3.  It seems this will not be straightforward at all. From bugzilla :

Encouraging is that @davidjo appears to

[2019-08-01 06:02] mikeeq commented on #71
@MCMrARM I've tried to build and load your BCE module but I've encountered some issues. Do you know what could be wrong? Should I import anything before loading your module?

[code]

Macbook Pro 13" 2019 i5 TouchBar Z0WQ000AR

@ozbenh Where can I find your latest changes to NVMe driver? Have they been pushed anywhere?
Cheers everyone!

[2019-08-01 06:29] iggy commented on #71
I had to use this patch

[code]

[2019-08-01 06:44] mikeeq commented on #71
:man_facepalming: @iggy thanks Man that worked! I'm really surprised that even touchbar is working (at the minute media keys are showing up but they are working as function keys (F1..F12)), GJ @MCMrARM !

Has anyone tried to migrate WiFi firmware extraction script from IDA Pro to Ghidra API?

[2019-08-01 09:37] MCMrARM commented on #71
@mikeeq Audio input is indeed not done, as I want to polish out audio output before, which will take quite a bit of time.
As for speakers, it's because someone has to write proper audio config for alsa afaik (the /usr/share/alsa files). Afaik the "Multichannel Output" and "Analog Output" are ALSA configurations for the jack. I'd appreciate help on that as that format looks terribly overcomplicated

[2019-08-01 14:06] mfauvain opened #109 "Recent wifi issue after kernel upgrade (5.2.5)"
After recent upgrade to 5.2.x on macbook 14,1 wifi has issues not seen before and log shows :
`08:18:32 kernel: brcmfmac: brcmf_c_preinit_dcmds: Firmware: BCM4350/5 wl0: Nov 26 2015 03:48:57 version 7.35.180.133 (r602372) FWID 01-c45b39d6`
`08:18:32 kernel: brcmfmac: brcmf_c_preinit_dcmds: Firmware: BCM4350/5 wl0: Nov 26 2015` `03:48:57 version 7.35.180.133 (r602372) FWID 01-c45b39d6`
`08:18:32 ke

[2019-08-01 16:29] GoncaloHit commented on #71
i have the same MBP 13.3, is it working for daily usage ? did you try kernel 5.3, it seems to have keyboard out of the box, or did you make the kernel ?

[2019-08-01 16:56] MCMrARM commented on #71
This issue is for MBPs from 2018 and above. It's generally not possible for the keyboard to work out of the box on these models. If this is the case, please provide `lspci` and `lsusb` for your model.

[2019-08-01 18:23] mfauvain commented on #109
for completeness, smeg boot log shows :
`[    3.357288] usbcore: registered new interface driver brcmfmac`
`[    3.469905] brcmfmac: brcmf_fw_alloc_request: using brcm/brcmfmac4350c2-pcie for chip BCM4350/5`
`[    3.471303] brcmfmac 0000:02:00.0: Direct firmware load for brcm/brcmfmac4350c2-pcie.Apple Inc.-MacBookPro14,1.txt failed with error -2`
`[    3.471311] brcmfmac 0000:02:00.0: Direct firmw

[2019-08-01 20:24] MCMrARM commented on #71
I have been hunting with @knownunown for the firmware files for Wifi on Mojave today and.......lol, it's literally in `/usr/share/firmware/wifi`.
The firmware files to use can be fund by running `ioreg -l | grep C-4364`.

[2019-08-02 12:23] MCMrARM commented on #71
alsa is absolutely insane, what the fuck are these configuration files, where the fuck is any documentation, why the fuck do the errors don't show up anywhere (try adding garbage to the beggining of /usr/share/alsa/HDA-Intel.conf; hahaha, the devices disappear, but you wish you got an error message), what the fuck is that joke supposed to be, I give up trying to write a config file, if noone picks

[2019-08-02 13:11] FINwoodpecker commented on #71
Have I understood right that you are making linux drivers for Macbook Pro 2018/2019 to get trackpad, keyboard and etc. work. And do you have any idea when they are done and will they be included for some linux kernel in the future?

[2019-08-02 13:13] MCMrARM commented on #71
Not sure when they will be upstreamed, I'll try to get the VHCI upstreamed though (keyboard, mouse, webcam, base for the touchbar to work), along with patches for several other components. WiFi is in a bit complicated situation as the OS X dynamically loads the firmware depending on region settings, plus we don't have a firmware which we can distribute. Audio is in jeopardy as I'm struggling to ge

[2019-08-02 13:14] dvulricht commented on #71
Audio is working on Macbook 14,3 13,3 14,1 as of last week/month.
Currently work in progress is being done on 9,1 and 10,1 macbook 12inch
2016/2017.
Please be a bit patient, it will be released very soon, we are testing now.

Most probably same approach can be done on the newer 2018-2019 models.

On Fri, Aug 2, 2019 at 4:11 PM FINwoodpecker <notifications@github.com>
wrote:

[2019-08-02 13:15] MCMrARM commented on #71
It can't be, because on the 2018 the audio is done over the T2 chip, not the Intel audio, so the case is completely different.

[2019-08-02 13:17] Bear-TheWolf312 commented on #71
Think they were meaning audio works out of the box on the 2016/2017 which is accurate the T1 doesn’t handle audio.

[2019-08-02 13:17] TRPB commented on #71
What about the NVME driver? Will that be upstreamed or require a custom kernel build for the foreseeable future?

[2019-08-02 13:17] MCMrARM commented on #71
@ozbenh was working on upstreaming it, not sure what's the current status.

[2019-08-02 13:18] Bear-TheWolf312 commented on #71
For the time being it requires you to patch it in. There’s a tutorial a little ways back in this thread.

[2019-08-02 13:23] MCMrARM commented on #71
@dvulricht As for audio on the 2018, it generally works with my driver, but I have a few issues I don't know how to tackle.
- aplay is completely broken, not sure if that is my fault or not.
- the first 0.1s when starting the audio playback is lost

The second issue is caused by the fact that I don't start the IO traffic when I am supposed to. But the issue is that the start IO command clears the

[2019-08-02 13:26] MCMrARM commented on #71
Also, as the device has more than a single playback output, an userspace /usr/share/alsa/cards file is required, however trying to make one only caused in irritation as that stuff is not documented properly.

[2019-08-02 14:14] FINwoodpecker commented on #71
You are doing great work guys and I really appreciate that. Thanks for answer to my question but I'm not sure did I understood it right. Am I correct that these drivers will become a part of Linux kernel at some point? I'm interested because we use USB booted Linux based on Debian at school. So drivers included to kernel is my only chance to get MBP work without external keyboard and mouse.

[2019-08-02 14:22] MCMrARM commented on #71
I hope so.
For the keyboard, if you have root, just build my driver and insmod it.

[2019-08-02 19:30] ozbenh commented on #71
The patches for nvme have been submitted, there's still some discussion/debate about the last one (the duplicated tags issue). I hope to get them in 5.4.

[2019-08-03 12:39] MCMrARM commented on #71
@imbushuo do you have an idea how to cause the ACPI shutdown from Linux? It seems that having a way to panic the chip quickly will be required as it seems that suspend breaks the software state altogether.

[2019-08-04 06:04] aunali1 commented on #71
I went ahead and setup an Arch Linux repo with signed kernel packages containing the aforementioned patches. I have a CI infrastructure in place that builds, signs, and publishes the kernel packages, https://ci.aunali1.com/aunali1/linux-mbp-arch/.

Package source repo: https://github.com/aunali1/linux-mbp-arch

To use my repo, simply add the following to your `/etc/pacman.conf` file:
[code]
Run a

[2019-08-04 08:57] davidjo commented on #108
I was about to send an update to this and upload an improved implementation to davidjo.
I can confirm I am playing sound on speakers on my Macbook Pro 14,3.
(Ive ignored the headphone setup so far).
There is also a putative 14,1 setup (this uses the SSM3515 amps which require different setup
to the MAXs)
It is complicated because essentially the HDA has become pointless - its just transforming the

[2019-08-04 17:07] marc-git commented on #108
Thanks for writing here. I also have the 14,3. Then I'm probably worth nothing to you for testing a setup.  Good work anyway! This machine isn't far off being fully operational! So you are modifing a replay from OSX and driving the audio with it? Super weird that there is such a difference between windows and mac versions.
What do you mean with putative 14,1 setup ? according to who, or what does

[2019-08-04 18:31] MCMrARM commented on #71
Ugh, touchbar stopped working for me on OS X. I don't know what did I do.
There are two possible causes:
- me disabling some OS X services. I don't think this is the case.
- me trying to get suspend to work and implementing state save and restore. The state restore was failing all the time and the bridgeOS often panicked with an error regarding serialization.

The OS X works just like the touchbar

[2019-08-04 19:05] MCMrARM commented on #71
Update: I reinstalled OS X and the issue got fixed, so perhaps it was me breaking some services, nvm.

[2019-08-05 06:57] davidjo commented on #108
I dont have a 14,1 machine but I have been corresponding with someone who does and is on one of the kernel bugs for sound.
This is from a log from his machine - but I cant test the code so dont know if it works.
Im pretty certain it should but Im still identifying the minor changes - there are gpio mask differences and obviously the amp i2c calls are different.

[2019-08-05 11:48] mikeeq commented on #71
Has anyone tried the latest version of mbp2018-bridge-drv?
https://github.com/MCMrARM/mbp2018-bridge-drv/tree/f405e45d7a78b5d672eb6e0f4cd91ffce86cdddb

Touchbar is no longer working for me (under Linux).

Just FYI @MCMrARM

And why is it so complicated to run linux installer with custom kernel :D Anaconda (Fedora 30) is not starting without nvme driver available during boot time...

[2019-08-05 17:18] wedgeV commented on #71
anyone else having issues connecting to secured (WPA2-PSK) networks? I can only get connections to open ones to work. tried different routers etc. getting `CTRL-EVENT-ASSOC-REJECT status_code=16` from wpa_supplicant. 2018 macbook pro 13", `maui` according to the tool mentioned above.

[2019-08-05 17:27] knownunown commented on #71
I had the same issue @wedgeV. I haven't narrowed down the root cause as the issue, whatever it was, seems to have resolved itself for me (kauai, 2018 MBP 15,1, Arch Linux). You can try using the generic images (maui.trx, maui.clmb, etc) instead of the region-specific ones. Additionally, you can try using a different supplicant like [iwd](https://wiki.archlinux.org/index.php/Iwd).

[2019-08-05 18:47] wedgeV commented on #71
@knownunown thanks! just switching to iwd worked for me.

[2019-08-05 20:04] MCMrARM commented on #71
@mikeeq touchbar only works if you use @roadrunner2 driver or have booted into bootcamp at least once.

[2019-08-05 21:50] leifliddy commented on #102
@dvulricht has managed to get the speakers working on my macbook 9,1!!!!
I'll post updates on this in the coming days.

[2019-08-05 23:57] imbushuo commented on #71
@MCMrARM I would say write value to `/sys/power/state` to produce a straight S5 shutdown, but I am not sure if this is supported or not. Old `/proc` era seems can do so but that was deprecated.

[2019-08-06 00:13] dhorkin commented on #71
Would it be possible to move all this discussion elsewhere so that the issue itself can track status updates rather than dev discussion? I have this issue flagged so that I'll get a heads up when there's finally support, but meanwhile, I've gotten over 300 emails that I don't care about... when there is finally a fix, I might actually miss the notification.

I'm sure I'm not the only person starti

[2019-08-06 06:42] Hi-Angel commented on #71
FWIW, I'm not, actually I'm curious to read that. But then again, I don't even have a macbook.

[2019-08-06 07:10] Hi-Angel commented on #71
I was thinking of it, and I can't imagine a more appropriate place. This issue called "MacBookPro 15,1/2", so it naturally implies development discussions involved in getting GNU/Linux work on this series. A workaround might be creating a separate issue or even better a wikipage *(does github support notifications on wikipages?)* specifically to track the status of all hw components.

[2019-08-06 07:16] zhuker commented on #71
@dhorkin I’m very curious to follow the discussion. You can sign up for release notifications if you want less noise.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 08:51] Dunedan commented on #71
As mentioned earlier in this issue already I still strongly suggest to open separate issues per component being worked on. This way it becomes much easier for new participants to grasp what's going on, without having to read through 300+ comments. It also reduces the noise for people which are only interested in the discussion about a subset of the topics being discussed here. We made very good ex

[2019-08-06 16:16] aunali1 opened #110 "MacBook Pro 15+: iBridge Support"
Discussion and updates regarding iBridge related support. Parent thread is #71.

[2019-08-06 16:17] aunali1 opened #111 "MacBook Pro 15+: Audio Support"
Discussion and updates regarding Broadcom Wifi related support. Parent thread is #71.

[2019-08-06 16:17] aunali1 opened #112 "MacBook Pro 15+: Wifi Support"
Discussion and updates regarding Broadcom Wifi related support. Parent thread is #71.

[2019-08-06 16:23] aunali1 commented on #71
@Dunedan Created some issues that should cover most bases. Should I close this issue?

[2019-08-06 16:27] Dunedan commented on #71
I'll leave that up to you. I believe it still makes sense to have such a generic thread, but feel free to do whatever you like.

For all the subscribers who don't read that via the Github interface here are the issues @aunali1 created:
[MacBook Pro 15+: iBridge Support](https://github.com/Dunedan/mbp-2016-linux/issues/110)
[MacBook Pro 15+: Audio Support](https://github.com/Dunedan/mbp-2016-linux/

[2019-08-07 04:28] ozbenh commented on #71
It looks like upstream now has an SPI based keyboard & trackpad driver for those machines as well (apparently they can use both USB and SPI on some models). Check out drivers/input/keyboard/applespi.c (I don't have a MacBook, only a Mini so I can't try myself)

[2019-08-07 06:49] roadrunner2 commented on #71
@MCMrARM

I never heard back, but from this I'm assuming that the driver is working then? Reliably, or are there cases where it fails to switch or something? And did you get around to trying out the `alt` sysfs param? (`echo 1 | sudo tee /sys/bus/hid/devices/*/alt`) TIA.

[2019-08-08 11:25] wedgeV commented on #71
@roadrunner2 your mbp15 branch doesn't build, missing apple-ibridge.c/h or similar. (I copied them over from the main branch, and loaded the 3 modules, but touchbar didn't show up)

[2019-08-08 11:50] roadrunner2 commented on #71
@wedgeV

Thanks for trying it out! Sorry about the error - I removed a bit too much when I was paring things down for MBP15 and neglected to re-test before pushing :frowning_face: . But I pushed a fixed version a few hours ago (commit roadrunner2/macbook12-spi-driver@c0a6a61023c70d4f8a878d4bbd1c7ee640bfb6b9) - please re-pull and try again.

[2019-08-08 14:10] wedgeV commented on #71
@roadrunner2 that works! esc + brightness/audio showed up and are functional

[2019-08-09 02:04] roadrunner2 commented on #110
If folks could test the touchbar and light-sensor drivers on MacBookPro15,*, that would be very much appreciated. The driver is located at [roadrunner2/macbook12-spi-driver](https://github.com/roadrunner2/macbook12-spi-driver/tree/mbp15) (in the `mbp15` branch). See the README at that link for build and install instructions.

Once installed, could you please test the following:
* Touch Bar:
  * do

[2019-08-09 02:08] roadrunner2 commented on #71
@wedgeV Thanks for that! It looks like there's no clear consensus about using this ticket or the new specialized ones for discussions, but I went ahead and posted a list of things to test over at #110 - if you have a few minutes run through those and let me know, that would be wonderful. And anybody else willing to test this (just takes a few minutes - no reboots required :smile:)

[2019-08-10 01:21] wedgeV commented on #110
yes

no, just stays ESC+brightness+multimedia

no, just stays ESC+brightness+multimedia

yes

yes

yes

couldn't get iio-sensor-proxy to work, so couldn't check

[2019-08-10 02:54] iggy commented on #110
Can confirm the same results as above.

In addition, I tested the light sensor using the watch command and could see changes as I covered the sensor.

[2019-08-10 07:53] roadrunner2 commented on #110
Thanks to both of you for testing!

Regarding the fn key issue: I think I found the problem and just pushed an update, so please re-pull. If it still doesn't work, then could you do two things:
* check if there are any errors in `dmesg`
* try manually changing the mode:
[code]

Regarding the ALS: if the watch command works, then basically the driver is working, so that's good; `iio-sensor-proxy` i

[2019-08-10 12:59] wedgeV commented on #110
@roadrunner2 just updated and tested. fn key still doesn't do anything. no errors in dmesg and the manual mode changes seem to work, not always but i'd say >95% of the time they work

[2019-08-10 13:00] wedgeV commented on #71
does anyone have two finger scrolling and right click working with the touchpad?

[2019-08-10 22:58] roadrunner2 commented on #110
@wedgeV Let's first look at the fn key issue then, as having that working will make testing the mode changes much easier. So somehow I must have have the input-device id matching wrong - could you dump me some info on the input devices on your system?
[code]

[2019-08-10 23:12] roadrunner2 commented on #71
@wedgeV Did you patch your bcm5974 driver, as described in https://github.com/Dunedan/mbp-2016-linux/issues/71#issuecomment-517208901 ?

[2019-08-11 04:29] atyshka commented on #71
As the owner of a 2016 MacBook Pro, I’ve been interested at all the development going on in this thread. Are any of the breakthroughs compatible with older non-T2 MacBook Pros like the 2016 models? More specifically touchbar and Broadcom WiFi

[2019-08-11 20:28] wedgeV commented on #110
[code]

[2019-08-11 20:32] wedgeV commented on #110
[code]

[2019-08-12 09:07] hashimda commented on #101
@Dunedan I haven't been trying to run Linux on my MBP lately, but I'm fairly sure that it wouldn't be crashing with the newest kernel patches and things, I may give trying to run Linux another go soon, but have been busy and have been sticking to macOS for now. Thanks!

[2019-08-12 21:49] mfauvain commented on #109
tried many kernels (previous) and linux-firmware (however brcmfmac4350c2 is identical) and no luck. Can't figure ou what changed so that now wifi at work doesn't work. Connection to router is made but impossible to ping anything.
Just to lift a doubt I have, anyone else seeing the same log as mine, esp the part saying
`brcmfmac 0000:02:00.0: Direct firmware load for brcm/brcmfmac4350c2-pcie.Apple

[2019-08-13 23:17] roadrunner2 commented on #110
Thanks, this clarifies things: the keybits are wonky, and that's because the relevant drivers don't know about the new usb id's, and hence aren't being loaded/attached. You can (temporarily) register the new id's as follows:
[code]
The touchbar driver may need to be reloaded after this, not sure.

[2019-08-14 11:23] ClashTheBunny commented on #37
Still no movement on this?

[2019-08-15 00:45] hashimda commented on #109
@mfauvain I tried out an Arch live iso to test out the 5.2.5 kernel on my own Macbook Pro 14,1,  and it doesn't seem to have any issues there with connecting to wifi, neither does the openSUSE Tumbleweed net installer. Though openSUSE Tumbleweed doesn't boot after installation, however that is irrelevant to this thread, but just a word of caution if you decide to install it. My point is that my MB

[2019-08-15 02:12] mfauvain commented on #109
Thx for feedback, I also have wifi working most of the time, at home etc.. but at work wifi uses WPA-EAP and even though it does connect, I can't get to ping anything. log shows a lot of PMKSA-Cache issues. Not sure if it comes from wifi firmware+kernel upgrade, what I can tell is wifi at work (same WPA-EAP) does connect and ping with a wifi dongle (realtek firmware) and kernel 5.2.x
I am pretty s

[2019-08-15 05:22] hstaub commented on #109
Maybe 5.2.8 works better, it contains a wifi related fix. See:

https://www.spinics.net/lists/linux-wireless/msg188475.html
https://lkml.org/lkml/2019/8/8/901
https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.2.8

On 15.08.19 04:12, Marc wrote:

[2019-08-15 12:34] mfauvain commented on #109
I tried that, no better unfortunately. Issue appeared around mid july and that's when 5.2's kernels started in arch repos. So will try to revert system to early july and see.

[2019-08-15 18:28] leifliddy commented on #102
I created a github project for the macbook12 audio driver (my first github project)
https://github.com/leifliddy/macbook12-audio-driver

It's definitely a bit rough around the edges and a bit hacky, but it works.
Please test out this driver and give me your feedback.

[2019-08-16 10:21] ppaulweber commented on #110
@wedgeV and @roadrunner2: I'm using the same patch https://github.com/Dunedan/mbp-2016-linux/issues/71#issuecomment-517208901 on my MacBookAir8,1 (2018 model with T2) and it works very well! If you have not compiled `bcm5974` into the kernel, ensure that you load the `bcm5974` module before the `bce` driver of @MCMrARM, then everything is setup correctly and you do not need to call a drivers `new_

[2019-08-16 13:09] ppaulweber commented on #110
@wedgeV and @roadrunner2: I just fixed the FN issue on my MacBookAir8,1 keyboard by applying the following kernel patch:

<details><summary>Linux 5.1.5 based patch to resolve keyboard FN key issues for <code>MacBookAir8,1</code></summary>
<p>

[code]

</p>
</details>

To apply this to an `MacBookPro15,x` please modify or add the `027b` device. I've prepared another patch for you MBP guys, please l

[2019-08-16 13:33] wedgeV commented on #71
@roadrunner2 yea i did, but it doesn't seem to support scrolling or right click (libinput)

[2019-08-16 13:35] wedgeV commented on #110
@ppaulweber cool, i'll try that! do you have two finger scrolling etc. working with the touchpad?

[2019-08-16 13:42] ppaulweber commented on #110
@wedgeV you're welcome

Yes, everything works fine! You just really have to ensure that `bce` is loaded after the `bcm5974` driver which is the Apple touchpad driver, and when than the `bce` registers the new discovered USB devices, it assigns correctly the built-in touchpad with the `hid-apple` driver instead to the `hid-generic` which gives you the single click behavior.

[2019-08-16 13:43] ppaulweber commented on #71
FYI: https://github.com/Dunedan/mbp-2016-linux/issues/110#issuecomment-521962626

[2019-08-16 16:05] wedgeV commented on #110
@ppaulweber can you share your linux and linux-headers packages (or a git repo that i can build it from)? i'm also on arch, currently using the packages from the repo someone shared on the main issue

[2019-08-17 00:25] ppaulweber commented on #110
@wedgeV OK, I'll prepare a GitHub repo containing a small config and build script, which applies the patches provided by @MCMrARM et al. and I'll try to merge the support for both platforms, namely `MacBookAir8,1` and `MacBookPro15,x`.

[2019-08-17 04:59] jboyens opened #113 "libinput and right-click dragging"
I'm sure this is due to either a recent kernel upgrade or a recent libinput upgrade but I've started to have an issue with right click dragging (which I use to resize windows).

Normally, I'll hold the 'command' key down and then two finger drag, but recently that's being seen as a scroll event and not as a pointer move event. My Google-fu has not been great enough to track down how to disable scr

[2019-08-17 05:00] jboyens commented on #113
Kernel 5.2.8; libinput 1.14.0

[2019-08-17 05:03] jboyens commented on #113
Kernel 5.2.8; libinput 1.14

Downgrading to libinput 1.13.4 fixes the issue.

[2019-08-17 05:10] jboyens commented on #113
Reported: https://gitlab.freedesktop.org/libinput/libinput/issues/343

[2019-08-17 14:07] ppaulweber commented on #110
@wedgeV here you go https://github.com/ppaulweber/linux-mba, have fun and let me know if it works for you now

[2019-08-17 14:09] ppaulweber commented on #89
@uwqwxing886 FYI: https://github.com/ppaulweber/linux-mba

[2019-08-17 16:55] jhohisel commented on #110
Hi everyone! I've been following this thread as I work on getting a USB SSD with linux that works on both of my Macs: MacBookAir8,2 (2019 MacBook Air) and iMac19,1 (2019 iMac). Fortunately the 2019 iMac does _not_ contain a T2 chip, so things work fairly well out of the box.

I'm attempting to get WiFi working on both models. The iMac seems to have the same chipset as the MacBookPro15,x (BCM4364,

[2019-08-17 16:59] jhohisel commented on #112
Hi everyone! I've been following this thread as I work on getting a USB SSD with linux that works on both of my Macs: MacBookAir8,2 (2019 MacBook Air) and iMac19,1 (2019 iMac). Fortunately the 2019 iMac does _not_ contain a T2 chip, so things work fairly well out of the box.

I'm attempting to get WiFi working on both models. The iMac seems to have the same chipset as the MacBookPro15,x (BCM4364,

[2019-08-17 18:08] ppaulweber commented on #112
ioreg -l | grep RequestedFiles

@jhohisel well done and nice tip!

I'm experimenting with the WLAN (WiFi) support on my `MacBookAir8,1` since a week or so, I've pushed my version of this patch now as well (see reference above). Can you check if your `MacBookAir8,2` platform goes along fine with the provided `bcm5974`, `hid`, `nvme`, and `brcmfmac` patches in https://github.com/ppaulweber/linux-mba

[2019-08-17 20:04] wedgeV commented on #110
@ppaulweber thanks so much! works, i now have scrolling/right click working!

[2019-08-17 20:16] ppaulweber commented on #110
@wedgeV perfect! I'm just putting together all the other guys (@MCMrARM et al.) out there have discovered in there heavy lifting. At this point a really bit thanks and nice work to you all :tada: :1st_place_medal:

[2019-08-17 20:31] jhohisel commented on #112
I am currently running your `bcm5974` and `hid` patches. Applying them added two-finger scrolling, right-click and function key support.

I'll try the `nvme` patch now.

[2019-08-17 21:18] jhohisel commented on #112
[code]
NVMe Works! I'll have to try installing it to a partition on the laptop now.

One issue I've been unable to fix is getting the keyboard working when I unlock my root partition during boot. It works during the GRUB menu, then stops working when the kernel prompts to unlock the drive for dm-crypt, then functions immediately after when it loads the `bce` module.

I built-in mbp2018-bridge-drv

[2019-08-17 21:33] ppaulweber commented on #112
If you really need the keyboard in this case you have to take a look into your current `/etc/mkinitcpio.conf` setup. You shall include there the `bce` in the `MODULE=...` variable in order that the `bce` module even gets loaded and integrated into the initramfs creation.

[2019-08-18 05:49] Dunedan commented on #112
Please focus on wifi in this issue and discuss other topics (like keyboard or NVMe) in separate issues.

[2019-08-19 09:20] GoncaloHit commented on #110
I would like to test and help, but i have some questions, i have the MBP13.3 2019 i7 Touch bar, currently on windows, i wiped out osx, had to inject drivers in win boot setup, as for linux, does the latest kernel have the SSD drivers ? or do i need to build custom kernel with it, then flash it over an USB ?
Thanks

[2019-08-19 12:46] mikeeq commented on #112
Is WiFi (brcmfmac4364) working for anybody (besides @MCMrARM)?

[2019-08-19 12:49] mikeeq commented on #71
Are there any Fedora fans up here? I've made a custom Fedora 30 image with all drivers builtin. Feel free to test, comment, etc. - https://github.com/mikeeq/mbp-fedora

[2019-08-19 13:44] ppaulweber commented on #71
Yes, it boots on my `MacBookAir8,1` just fine. You just have to make sure to use a EFI-compatible binary which can be loaded by the Mac EFI. In my case I've a `grub2` EFI binary located on the EFI partition under path `/EFI/BOOT/BOOTX64.EFI`. From there you can boot everything you want. I even performed under `MacOS` the `bless` command to directly use this binary at boot time by default.

[2019-08-19 14:47] mikeeq commented on #71
@ppaulweber is your EFI partition formatted as HFS+ or FAT32?

[2019-08-19 15:08] ppaulweber commented on #71
@mikeeq I always (re)use the standard EFI partition created by during the MacOS installation and this is an MSDOS FAT32 partition, here is my `parted print` information of the EFI partition:

[code]

I'm using this technique since I've got my first Intel-based Mac and it has never failed me so far :wink:

[2019-08-19 16:46] MCMrARM commented on #111
Small note: I fixed the start audio glitch, audio is mostly fine now.

As I stated before, the config has to be written if we want both speaker and headphones to work, and I have no 20 hours to waste. If anyone else is willing to spend the time trying to understand that format, I'd gladly appreciate it.

[2019-08-19 17:54] MCMrARM commented on #111
Ok I wrote a config:
[code]
Put this in /usr/share/alsa/cards/AppleT2.conf
No idea if this can be written in a better way or not, for now this is what we're stuck with.

[2019-08-19 19:06] macphotoed commented on #71
Hey all... Fantastic work by the looks of things. It's like Christmas has come early. Is there anything in the AUR for Arch users or is there an installation guide for all the different bits and bobs put together to make it work on the MacBook Pro 15,1?

I have no issue installing Arch (prob do it to an external drive for test run) from scratch using an external keyboard/mouse combo. But what need

[2019-08-19 19:18] mikeeq commented on #111
I can confirm that with ALSA config file mentioned above there are now two configurations in sound settings:
- Analog Surround 4.0 Output - speakers
- Analog Stereo Output - headphone jack
and one output device.
Microphone is still not available and audio output configuration are not dynamically changed (dis/connecting headphones). Nevertheless really good job @MCMrARM!

In the mean time could you

[2019-08-19 20:40] mikeeq commented on #71
@ppaulweber It's possible to boot `/EFI/BOOT/BOOTX64.EFI` from any FAT32 (vfat) partition and it doesn't need to be labelled (flagged) as BOOT, ESP, EFI partition. Apple probably blocked an option to boot from HFS+ partitions on newer Macs (with Apple T2 chip).

https://www.apple.com/mac/docs/Apple_T2_Security_Chip_Overview.pdf

I really didn't want to modify original `/dev/nvme0n1p1` EFI partitio

[2019-08-20 10:52] ppaulweber commented on #71
@mikeeq that is excatly what I am trying to say ... I do not want and did not change the standard EFI partition created by the MacOS installation. Nevertheless on my `MacBookAir8,1` (2018 model with T2) it was formatted like this and it just works smoothly.

@macphotoed you can compile the needed Linux kernel along with the @MCMrARM's `bce` kernel module easily via the following build and config s

[2019-08-20 16:12] Dunedan commented on #102
@leifliddy Congrats to getting it to work, but I believe you closed the bug in the kernel Bugzilla too early, as this isn't fixed in the kernel yet, isn't it? It'd be great if code to make the speakers work would make its way into the mainline kernel sooner or later as well.

[2019-08-20 20:22] leifliddy commented on #102
I had created a bounty for issue:
https://www.bountysource.com/issues/56233031-macbook8-1-12-inch-early-2015-no-speaker-sound-output
I had to close the bug report in order to award the bounty to @dvulricht for his work in developing the patch. I can reopen the bug report once the bounty is paid out.

[2019-08-20 22:25] aunali1 commented on #112
@mikeeq What kernel patch are you using for WiFi support?

[2019-08-21 05:53] aunali1 commented on #112
@jhohisel @mikeeq Works perfectly fine for me:

[code]

[2019-08-21 09:14] mikeeq commented on #110
Is keyboard backlight working for anybody?

[2019-08-21 12:39] mikeeq commented on #112
@aunali1 yep, you're right - I've missed one line when I was generating a patch.
https://github.com/mikeeq/mbp-fedora-kernel/commit/d8f5578d4fd9c9ee01c2a125dae30237aefcf391

@ppaulweber could you confirm if that fix is not needed for MacBookAir8,2?

[2019-08-21 14:31] ppaulweber commented on #112
@aunali1 thanks for the hint and I've experimented for my `MacBookAir8,1` that this `brcm` driver uses the same RAM base as the `brcm` driver of the `MacBookPro15,x`. It now allocates and loads correctly the firmware, and I get the wlan interface.

@jhohisel can you check if this latest patch works for your `MacBookAir8,2` as well, thx!

@mikeeq it does need the same fix, which I've already update

[2019-08-22 03:20] jhohisel commented on #112
@ppaulweber The good news is that now the card is correctly recognized and shows as a WIFI device. The bad news is that I can't seem to connect to my network using it. It repeatedly times out and prompts for the password. I tried switching from wpa_supplicant to iwd as suggested in issue 71, but no difference. I also tried using wicd instead of NetworkManager, it fails to connect saying bad passwo

[2019-08-22 06:53] mikeeq commented on #112
@jhohisel try to reload brcmfmac kernel module. I'm experiencing the same issue and after module reload I'm able to connect to WPA2 network ;)

https://github.com/mikeeq/mbp-fedora#known-issues

[2019-08-22 07:36] ppaulweber commented on #112
@jhohisel I can confirm that for me is `wpa_supplicant`no longer working as well. With `iwd`the WLAN (WiFi) is working as expected. Thx @mikeeq for collecting the known issues in your repo!

[2019-08-23 05:09] jhohisel commented on #112
I was missing:
[code]
From `/etc/NetworkManager/NetworkManager.conf`

Now I can connect!

[2019-08-23 10:38] macphotoed commented on #71
@ppaulweber. Thanks very much. This gave the confidence to take the plunge. I did a fresh arch install from the official ISO, when up and running I downloaded your script and followed the instructions. Booted with the new kernel and NVME finally showed up. I had to download and build the iBridge (BCE) driver from https://github.com/MCMrARM and the macbookspi drivers from cb22. Using insmod BCE bef

[2019-08-23 12:07] ppaulweber commented on #71
@macphotoed congrats on the successful install, the `bce` driver of @MCMrARM is [fetched](https://github.com/ppaulweber/linux-mba/blob/master/Makefile#L24-L27), [compiled](https://github.com/ppaulweber/linux-mba/blob/master/Makefile#L35-L36), and [installed](https://github.com/ppaulweber/linux-mba/blob/master/Makefile#L45-L48) as well in my script, no need for a manual setup. The loading happens d

[2019-08-23 12:09] ppaulweber commented on #71
@macphotoed this is still an ongoing issue, see #111

[2019-08-23 12:22] ppaulweber commented on #71
@macphotoed 5.2.x or higher is as far as I know currently not an option, see: https://github.com/Dunedan/mbp-2016-linux/issues/71#issuecomment-510652894 and https://github.com/Dunedan/mbp-2016-linux/issues/71#issuecomment-512828021

[2019-08-23 13:39] aunali1 commented on #71
@ppaulweber Not true anymore. Works perfectly fine on 5.2.9 using my kernel package. @macphotoed If you are interested in a binary kernel package thats updated regularly, I have an arch repo at https://packages.aunali1.com/archlinux/mbp/x86_64, built from [aunali1/linux-mbp-arch](https://github.com/aunali1/linux-mbp-arch).

[2019-08-23 14:27] macphotoed commented on #71
Wow... thanks both. I’m going to check out both options tonight. @ppaulweber - any idea why I had to install iBridge/SPI code? After following your script/instructions and rebooting, the system was definitely on the new kernel and NVME was showing but keyboard and trackpad still dead. Trying insmod BCE resulted in module not found?
@aunali1 would your kernel/script just drop into a fresh install a

[2019-08-23 15:24] MCMrARM commented on #71
@macphotoed @ppaulweber I'm not aware of issues with the audio output not working - are both speakers and headphones not working?

[2019-08-23 16:36] Dunedan commented on #113
Seems this got fixed with https://gitlab.freedesktop.org/libinput/libinput/merge_requests/282 for upcoming libinput versions.

[2019-08-23 16:39] Dunedan commented on #96
@mfauvain Do you got any new insights in the meanwhile?
Somebody else here able to reproduce the problem?

[2019-08-23 16:43] Dunedan commented on #101
I'm closing this for now, as this doesn't seem to be an issue anymore. If it reappears again and is linked to the hardware, we can reopen it again of course.

[2019-08-23 16:43] #101 closed

[2019-08-23 19:42] mfauvain commented on #96
Luckily on holidays so could not try at work. Wifi works anywhere I've been though. I guess I will have to avoid work in the future ha!
Will revert when back, early Sep.

[2019-08-24 19:53] macphotoed commented on #71
My Macbook Pro 15,1 progress
@MCMrARM I got the audio working perfectly from @ppaulweber kernel by creating the T2 configuration you suggested - thank you very much.
@ppaulweber the BCE modules et al are loding correctly now, I had to call sudo depmod before modprobe would find them correctly.
TODO for me: fix the wifi and get two finger scrolling working along with keyboard backlight - even thoug

[2019-08-24 20:04] macphotoed commented on #112
Sorry for the silly question all - when I locate the files from mojave, where do I copy them on the linux side?

[2019-08-24 20:11] aunali1 commented on #112
@macphotoed Just copy the *.trx file to /lib/firmware/brcm/brcmfmac4364-pcie.trx, the *.clmb file to /lib/firmware/brcm/brcmfmac4364-pcie.clm_blob and the *.txt file to  /lib/firmware/brcm/brcmfmac4364-pcie.Apple Inc.-MacBookPro15,1.txt

[2019-08-24 20:13] aunali1 commented on #71
@macphotoed Regarding two-finger scrolling, My kernel tree has the correct USB HIDs for MacbookAir8,1, MacbookPro15,1, and MacbookPro15,2 required to get it picked up by the `hid-apple` driver.

[2019-08-24 21:03] macphotoed commented on #112
Amazing - thank you again @aunali1 - got the files, thankyou. Back on the linux side of things, copied them over, reboot but there doesn't seem to be any interface for the wifi or device? I followed through the thread and not sure that I missed anything? Running the linux-mba kernel from @ppaulweber currently. I have not installed anything else a yet - is there a module I need to load or something

[2019-08-24 21:41] macphotoed commented on #71
@aunali1 thank you - I am definitely going to give your kernel a spin shortly, just the tinkerer in me wanted to work at manually getting it all up and running first. I cant thank you all enough for your efforts. I love the MacBook and OSX but also use enjoy using Arch as much. Id like to get it all working a write up a easy to use guide for anyone else wanting to get the 15,1 working. To be fair,

[2019-08-25 07:59] Ninlives opened #114 "Cannot detect external NTFS drives"
All my devices formatted in NTFS seems not working properly with linux on mbp13,2, but it used to work out of the box.
The situation is, if the usb device is connected before booting into grub, it can be detected and mounted by the system properly, otherwise, nothing happens after plugging the device: `lsusb` , `lsblk` and  `fdisk -l` don't list the device and `dmesg` outputs nothing related to th

[2019-08-26 07:43] axxapy commented on #71
Thank you guys for your hard work! It's amazing!

@aunali1's kernel (from his binary repo) works just fine, thank you!
In order to make keyboard and touchpad work I had to install https://aur.archlinux.org/packages/macbook12-spi-driver-dkms/
two-finger scroll && other touchpad gestures work without any problems

Issues:
 - wifi detects only 2.4gh access points
 - no audio
 - no touch bar (=> no es

[2019-08-26 08:57] macphotoed commented on #71
@axxapy https://github.com/MCMrARM/mbp2018-bridge-drv/tree/f405e45d7a78b5d672eb6e0f4cd91ffce86cdddb

[2019-08-26 12:07] MCMrARM commented on #71
@axxapy what is your exact model? Are you sure your model is from 2018 or newer?

[2019-08-26 14:49] macphotoed commented on #71
Did anyone figure out why the intel GPU doesn't show up in linux? 9 times out of 10, the AMD GPU is redundant so would be great if it could be deactivated and the intel GPU used instead. If the AMD GPU could be deactivated, issues with heat/fans and battery life would improve dramatically.

[2019-08-26 14:57] MCMrARM commented on #71
it's because apple disables it on bootcamp, i think there's a way to fix that, however i have a 13'' so i can't help

[2019-08-26 15:28] MCMrARM commented on #110
Good news, I got suspend working (sometimes, it's not reliable) and am working on pushing the code onto GitHub.

As for reliability, the whole OS sometimes just doesn't wake up, makes it really hard to debug.

[2019-08-26 15:33] MCMrARM commented on #110
Also it might be worthwhile to try to reverse engineer some of the XPC comms, so that one could try to take over the shitty fan control as I think it's the powerchime service managing it.

[2019-08-26 16:05] Bear-TheWolf312 commented on #71
It’s disabled under the EFI firmware for all non Apple operating systems. There’s a way to trick the EFI into enabling it but it’s not worth the work because you have to disable it every time you want to boot macOS or problems happen. (The last bit was pretty vague but details on the eGPU project site. You’ll have to search around.)

[2019-08-26 16:34] gbrow004 commented on #71
I believe it was possible to fool the 2017 models into thinking they were booting into MacOS so it wouldn’t deactivate the intel iGPU, but that wasn’t possible for the 2018/2019 models. I could be mistaken though, since I’ve stopped messing around with eGPU’s recently.

[2019-08-26 16:38] Bear-TheWolf312 commented on #71
https://egpu.io/forums/mac-setup/how-to-keep-mbps-irisiris-pro-activated-when-booting-into-windows-boot-camp/

[2019-08-26 17:14] MCMrARM commented on #110
I have pushed all the suspend related code for VHCI under the suspend branch: https://github.com/MCMrARM/mbp2018-bridge-drv/tree/suspend
Testing welcome and appreciated.
Audio is currently unsupported on that branch.

[2019-08-26 17:30] MCMrARM commented on #71
@macphotoed why did you link to a commit before the recent audio changes on my repo btw? Are there any regressions? For me the new audio commits improved audio stability greatly where the old code often resulted in audio not working at all.

[2019-08-26 17:34] macphotoed commented on #71
My bad. I may have posted using my phone and got it wrong. Edited now.

[2019-08-26 17:46] MCMrARM commented on #71
Cross post from #110: I've implemented initial suspend support for VHCI on the suspend branch (beware, audio is disabled on that branch), testing is welcome (if some people confirm it works fine with no regressions I'll merge it): https://github.com/MCMrARM/mbp2018-bridge-drv/tree/suspend

[2019-08-28 09:16] ppaulweber commented on #71
https://github.com/Dunedan/mbp-2016-linux/issues/71#issuecomment-524576343

@macphotoed I've updated and improved the build and installation script, can you give it another spin and let me know if it works for you know? Thx!
Regarding your WLAN (WiFi) issue: I've added a `systemd` unit (gets installed in the script as well) to successfully reload the `brcmfmac` driver before the `iwd` service fire

[2019-08-28 09:48] mikeeq commented on #110
@roadrunner2 any clue how to make keyboard backlight working? Due to lack of apple smc driver keyboard backlight device is not initialized, should it be done by your spi driver or in @MCMrARM bce one?

[code]

[2019-08-28 09:49] MCMrARM commented on #110
well my driver is not providing any other functionality that bringing the USB hub up and providing audio support, so it definitely should not be handled by mine

[2019-08-28 10:13] mikeeq commented on #111
@MCMrARM to make internal mic working do we need to only modify existing ALSA config file or does it need any work on driver side to be done?

[2019-08-28 11:52] MCMrARM commented on #110
HID reports for setting up the backlight: https://mrarm.io/u/Paste%202019-08-28%2013-51-35.txt

[2019-08-28 11:58] MCMrARM commented on #111
Work on the driver needs to be done.

[2019-08-28 12:16] macphotoed commented on #71
@ppaulweber Yeh, no worries, Ill give it a go later today from a clean install to see if it offers a "works out of the box" solution. Wifi is now fixed for me regardless. Do you have any ideas regarding the GPU on the 15,1? I have found a file (apple_set_os.efi) which exposes the Intel IGP to the linux system but I am at a loss figuring out how to disable the AMD DGPU - this would make the machine

[2019-08-28 14:43] MCMrARM commented on #71
For me 5.2 is still really broken, it seems to fail to startup if I plug any Ethernet adapters into the USB.

[2019-08-28 19:21] MCMrARM commented on #71
So, I have been investigating the >10s resume from (RAM) suspend times and there are two known workarounds: `pcie_ports=compat` or disabling `CONFIG_HOTPLUG_PCI_PCIE`. These workarounds have been found here: https://bugzilla.kernel.org/show_bug.cgi?id=99751 as it appears to be a similar issue except our times are MUCH worse (>10 seconds????).

[2019-08-28 19:50] MCMrARM commented on #111
Implemented jack detection: https://github.com/MCMrARM/mbp2018-bridge-drv/commit/d3224b861177ed863c492833d17e09c02ed1d53f
No idea how to integrate into alsa ¯\_(ツ)_/¯

[2019-08-28 19:52] MCMrARM commented on #111
I'll try to get the microphone working tomorrow, no promises though.

[2019-08-28 19:55] MCMrARM commented on #112
By the way 5Ghz generally works for me, through a full multiband 5ac does not achieve full speeds.

[2019-08-28 23:18] leifliddy commented on #102
I reopened the bug report. But, due to the series of vendor node commands that need to be 'replayed' in order for the speakers to work, I don't think it's likely that this driver will ever make its way into the kernel. But who knows, stranger things have happened. In any case, we still need to get the HP audio working with this driver.

[2019-08-29 10:31] mikeeq commented on #110
@roadrunner2 I've tried to test your latest changes:
https://github.com/roadrunner2/macbook12-spi-driver/tree/d05467440f16d17c2572c5fe3ca59f126758f00f

but apple-ib-tb.ko module is crashing during load time:

[code]

[2019-08-29 12:16] roadrunner2 commented on #110
@mikeeq Thanks for the report - just pushed a fix.

Btw., what model do you have? I'm trying to understand why it crashed for you but not for others.

[2019-08-29 13:07] mikeeq commented on #110
@roadrunner2 - Macbook Pro 15,2 13" 2019 i5 TouchBar Z0WQ000AR

I can confirm that patched version is working ;) Will you have a minute to implement keyboard backlight to your ibridge driver?

[2019-08-29 14:05] MCMrARM commented on #110
I'm working on patching the hid_apple driver to support backlight

[2019-08-29 14:32] MCMrARM commented on #110
https://github.com/MCMrARM/mbp2018-etc/tree/master/apple-hid

[2019-08-29 15:48] mikeeq commented on #110
@MCMrARM are you able to change keyboard backlight brightness by pressing buttons on touchbar?

but i can confirm that it's working for me - thanks Man. Good job, once again!
[code]

One thing @roadrunner2 with the latest version of `apple-ib-tb.ko` fn keys are not showing up when pressing FN key (switching from media keys to fn is not working on default fnmode = 1). It's working ok on module buil

[2019-08-29 17:37] MCMrARM commented on #110
@mikeeq no, I don't load the touchbar drivers during testing.

But are they supposed to just work? I thought it's supposed to be handled by userspace.

[2019-08-29 19:03] MCMrARM commented on #111
Some good news: I got internal mic working at all, will push code today. Not sure how good are the results. The microphone is apparently a triple-channel device btw. Might be a little bit of a mess to get it working in alsa.

[2019-08-29 22:46] jboyens commented on #96
I still have a similar problem daily on the 14,3. My consistent fix has been to run `sudo lsusb -v` to force enumerating the whole device chain. Once I do that, everything is fine.

Every great once-and-a-while, it won't work, when that happens, I unplug the dock, unplug the power from the dock, wait a few seconds and then hook it all back up. After that I'm back in business.

[2019-08-30 00:38] aunali1 commented on #110
@mikeeq Does the following command return anything?
[code]

[2019-08-30 07:59] syangav opened #115 "Question on upgrading Mac OS and Ubuntu on MBP2016 13,1"
Hi, here is the case:

I already have the two os: macOS Sierra 10.12.6 and Ubuntu 16.04 running smoothly on my MacbookPro 13,1. Now I have two questions:

First, is it possible to upgrade the macOS Sierra to macOS Mojave while not interfering the Linux system?

Second, is it possible to upgrade Ubuntu 16.04 to Ubuntu 18.04 while not interfering the macOS system?

Thanks in advance!

[2019-08-30 09:14] mikeeq commented on #110
@aunali1 Yes it does.

[code]

[2019-08-30 16:03] Dunedan commented on #115
Upgrading Ubuntu should be no problem at all.
If upgrading macOS works flawlessly depends on how you boot Linux. I use the EFI boot manager to load grub and continue the usual way from there. However when upgrading macOS, the boot manager entries get reset, so macOS is booted instead and I have to manually adjust the boot order again once.

As usual: Make backups before touching something which co

[2019-08-30 16:41] MCMrARM commented on #71
What's still broken on this laptop?
WiFi - ok, this is not 100% working, 5Ghz on some frequencies is broken, I could try to implement auto-country detection as well, thoughts on the importance of this?
Bluetooth - works fine.
Audio output - works fine?
Audio input - initial support added to my driver, this is still a bit WIP but it works (alsa config missing and somehow pulseaudio can't understand

[2019-08-30 17:27] wzygzlm commented on #112
Sorry. I'd like to ask if I don't have IDA，how can I get the wifi firmware?
Do anybody can share one with me. Mine model is mbp2010 13inch.

MCMrARM <notifications@github.com>于2019年8月28日 周三21:55写道：

--
Best Regards,
Liu, Min
INI, UZH/ETHZ

[2019-08-30 19:23] MCMrARM commented on #111
Ok, this took a while to figure out but I got the mic/external audio input working under Pulse.
https://gist.github.com/MCMrARM/c357291e4e5c18894bea10665dcebffb <- required files
Note that the new commits broke the old audio config, and you MUST switch to the new configuration if you update. Though the mic works now, so nice.

[2019-08-30 19:43] mikeeq commented on #111
@MCMrARM are there any additional steps needed? I recompiled module, loaded it, copied those 3 config files and there's no audio/input device now - only `dummy output`

[2019-08-30 23:43] roadrunner2 commented on #110
@MCMrARM nice work on the keyboard backlight driver! Sorry, didn't have time to look at it myself. Looking over the report info you provided, I noticed that the descriptor of the report to set the brightness is not present in the list of report descriptors for that interface, only the descriptor for the brightness config :frowning_face: .

A couple small things: the keyboard backlight doesn't turn

[2019-08-31 00:10] roadrunner2 commented on #110
@mikeeq

Hmm, that's odd. Could you run a slightly modified version of what you ran at @aunali1 request above?
[code]
I want to doubly confirm the FN key is being properly "exported" by the keyboard driver.

Next, please apply the following patch to your `apple-ib-tb.c`:
[code]
And then show me the output of `dmesg | grep match-internal` after reloading the module. TIA.

[2019-08-31 10:42] mikeeq commented on #110
@roadrunner2

[code]

[2019-08-31 19:18] roadrunner2 commented on #110
@mikeeq Thanks. Aaargh: I managed to get the string-search test inverted! :man_facepalming:  Just pushed the fix.

[2019-08-31 20:21] aunali1 commented on #112
It seems that with 5.2.11, 5 Ghz works without any problems, and in some cases faster than macOS!

[2019-08-31 22:29] mikeeq commented on #110
Yep, it's working fine now - GJ @roadrunner2 ! Cheers ;)

[2019-09-01 09:32] MCMrARM commented on #110
@roadrunner2 ah right, I didn't think of that. As for max_brightness it afaik should be fine, but I could verify it a bit later. Before upstreaming this patch I'll probably also want to get rid of the hardcoded constants in some places.

[2019-09-01 09:32] MCMrARM commented on #112
@wzygzlm I mean, this no longer requires IDA, the firmware is in /usr/share/firmware on OS X.

[2019-09-01 09:33] MCMrARM commented on #111
@mikeeq I mean, I don't know, it works for me. Does changing the paths-output to paths-input work for you?

[2019-09-01 17:00] CuriousTommy opened #116 "Discussion for the iMac19,1"
I thought I would open up an issue tracker for anyone who also owns or has access an iMac19,1.

Here are some issues that I experienced with this machine:

- Sometimes Linux [fails to startup](https://user-images.githubusercontent.com/3105794/64079606-6604cb00-cc9e-11e9-9aea-21a80da16db5.jpg) (I have to physically unplug the machine to get it working again).
- Built-in/Headphone audio doesn't work

[2019-09-01 17:36] Dunedan commented on #116
Please consider opening a PR with the results from the `get-info.sh` script, so we can add it to the repository and make it easier searchable for everybody.

Regarding the other issues I suggest checking if the already existing issues apply (e.g. it's likely that Apple used the same wifi chip for multiple products) and if not to open separate issues for each problem, so we can avoid getting a sing

[2019-09-01 18:59] CuriousTommy commented on #116
@Dunedan I can definitely open a PR.

On a side note, am I suppose to use `sudo` when I run the script, or is it okay to run the script as a normal user?

Okay, I'll do that.

[2019-09-01 19:11] Bear-TheWolf312 commented on #60
@matt-deboer I realize I’m late to the party but, eGPU usage on a nonMacOS operating system is unsupported by Apple, the EFI is set up to block this functionality. Secondly, NVidia GPUs aren’t officially supported by Apple either under macOS.

[2019-09-01 19:27] CuriousTommy commented on #116
I submitted the PR.

[2019-09-01 19:27] #116 closed

[2019-09-02 03:44] aunali1 commented on #116
@CuriousTommy For wifi u'll need to use a patched kernel with BCM4364 support. The specific patch is  [this](https://github.com/aunali1/linux-mbp-arch/blob/master/wifi.patch).

[2019-09-02 12:47] ohjames commented on #71
Tried to modify the arch install usb with this kernel, but still couldn't access the hard drive, keyboard or WiFi. I suspect I need to modify the HOOKS line in mkinitcpio to add in some new modules? Or something. Would be really grateful for your advice.

[2019-09-02 15:01] reinismu commented on #71
I just got Macbook pro 2019 and would really love to put linux on it. At home I have my private macbook 2015 running linux. I would love to contribute, but I'm not too sure where all drivers that I will need are. Is there some list of what is needed to get Macbook 15+ up to latest build?

[2019-09-02 15:12] funchal commented on #71
I have a MacBookPro15,1 and just found this thread while trying to install the latest Ubuntu 19.04 and failing because the internal ssd is not detected. Ubuntu currently ships with kernel 5.0. It's a pity it doesn't work but I'm glad to see it being worked on, perhaps a later kernel will include your fixes. Thanks for the effort guys.

[2019-09-02 17:27] mfauvain commented on #96
My bad, comment above was for issue #109. @Jboyens, I tried your fix again with `sudo lsusb -v`, but ethernet port on dock is still absent when using usb-c cable provided with the dock (was working initially). When using Apple's cable, ethernet port is there.

[2019-09-02 17:34] mfauvain commented on #109
Back at work, after a few more upgrades I tried again to connect to wifi, seems to connect but can't ping. running kernel 5.2.11 now and wpa_supplicant 2:2.9-1
I did not try to revert to older version, I will try to find some time to do so. Not sure if issue comes from brcmfmac driver or wpa_supplicant but log still shows many  PMKSA-CACHE-ADDED and immediately PMKSA-CACHE-DELETED for all BSSID it

[2019-09-03 13:44] CuriousTommy commented on #116
@aunali1 Thanks for linking to the wifi patch. I'll keep an eye on this patch.

[2019-09-03 15:44] mfauvain commented on #29
Anyone know if a patches/working bluetooth is coming to kernel 5.3?

[2019-09-03 16:36] mikeeq commented on #111
@aunali1 @ppaulweber @jhohisel Has anyone of you guys tried to use new audio driver and is microphone working for you? For me, after changing to `paths-input` microphones are visible in sound settings but they are not working.

[2019-09-04 14:43] Bear-TheWolf312 commented on #71
Due to a defect on my 2018 system I’ve been upgraded by Apple to a 2019, if you need dumps, or other info feel free to ask.

[2019-09-05 19:39] Bear-TheWolf312 commented on #71
If you do figure TouchID out, do you think you could make it it’s own project? I’m personally interested in looking at doing this with windows somehow but admittedly, it’s been a while since I’ve actually programmed and even at that I’d have to learn a new language to work with windows.

[2019-09-05 19:39] imbushuo commented on #71
@MCMrARM I wonder if you are still using Wireshark and its friends for dumping the Touch ID traffic - I've previously attempted to sniff Touch ID traffic the VHC128. However it gives me some really stupid large packets that Wireshark refused to decode.

[2019-09-05 19:41] MCMrARM commented on #71
@Bear-TheWolf312 if the NCM works on Windows then it'll be all about porting the C libraries and code to Windows, which should be feasible without changing a lot of code.

@imbushuo I'm mostly basing my RE on reverse engineering the binaries rather than traffic... the code for biometric auth is objc, so if I'll run into any issues with the transport itself I'll just use frida and directly hook int

[2019-09-05 19:47] imbushuo commented on #71
@MCMrARM NCM works on Windows with https://github.com/microsoft/NCM-Driver-for-Windows (this is actually the open-source version of Windows inbox NCM driver). Additional INF directive that specify the VID/PID of the composition device is required (instead of any sub-devices). There's some problem with S3 sleep (it hangs) that I am going to look into.

![image](https://user-images.githubusercontent

[2019-09-05 19:48] MCMrARM commented on #71
@imbushuo out of curiosity what happens if you try to portscan that device? On Linux I have an issue where it seems that causing network errors eventually causes a VHCI 50 Hardware Error, or did I mess up somewhere else?

[2019-09-05 19:52] Bear-TheWolf312 commented on #71
@MCMrARM Guess I should learn C, the only langues I’ve been taught are aimed at mobile devices so haven’t tried C yet.

[2019-09-06 10:57] tomaytotomato commented on #71
I have just gotten a Macbook 15,1 before i was on a 13,1.

Any distros or kernel versions people want me to try out from liveUSB?

[2019-09-06 11:04] domarmstrong commented on #71
I'm stuck with just osx and no ethernet adapter. Is it possible to create a live usb with a patched kernal from osx? (any guidelines or pointers in the right direction appreciated)

[2019-09-06 11:27] tomaytotomato commented on #71
USB tethering through a phone + wifi @domarmstrong  ?

Get a big USB storage with Live USB and persistence enabled, then do a kernal patch when running from the USB.

[2019-09-06 12:16] mikeeq commented on #71
@domarmstrong @tomaytotomato you can try out my fedora 30 build:
https://github.com/mikeeq/mbp-fedora

[2019-09-06 23:04] ppaulweber commented on #110
@MCMrARM thanks for the keyboard backlight patch, I was able to integrate this one along with the changes for the `MacBookAir8,x` and it just works, well done :tada:

[2019-09-08 19:43] MCMrARM commented on #110
I have been working on some more of the Touch ID integration stuff....
the protocol is absolutely insane, and gigantic:
I've decided to list all the commands I can find and try to name them (the biometrickitd daemon handling this is written in Objective C... free function names)
 https://github.com/MCMrARM/bkitd/blob/master/BkKernelCommand.h#L10  this is 61 commands....
Anyways, some basic stuff w

[2019-09-09 02:42] Bear-TheWolf312 commented on #71
Have you gotten anywhere with TouchID? Waiting to see if it’s even possible before I dive headfirst into C.

[2019-09-09 11:44] MCMrARM commented on #71
Yeah to basic comms, check out: https://github.com/Dunedan/mbp-2016-linux/issues/110
As a note, I moved to C++ for the high level communication.
I'm not sure what's the preferred way to do Xpc on Windows but I assume dbus will be a no go, that'll definitely require porting.

[2019-09-09 13:46] jboyens commented on #96
Sorry I wasn't able to help more!

[2019-09-09 15:45] imbushuo commented on #110
@MCMrARM I think SEP (the other PCIe device) is absolutely involved in any enrollment/verification according to my rough inspection in IDA.

[2019-09-09 16:37] MCMrARM commented on #110
@imbushuo who knows, maybe it is maybe it's not. @aunali1 claimed most of the SEP code is NOP'ed.

Anyways, I have got a bit futher, generally everything not requiring a credential set works, however enroll requires one and I'm damned.

[2019-09-09 16:41] MCMrARM commented on #110
As for credential set I have yet to figure out how it is obtained...
The `TouchID` binary (sorry, I don't know what directory I got it from right now) calls -[LAContext evaluatePolicy:options:reply:] with policy=APolicyTouchIDEnrollment. Then the credential is taken from -[LAContext externalizedContext]. Then next, I think the `ModuleACM` from LocalAuthentication is used, which turns all requests

[2019-09-09 23:18] imbushuo commented on #110
Regarding Touch Bar, I have an implementation for Windows with media/volume control, "now playing" display, lock computer button and a few more thing (mostly Fn keys). It is possible to just use libusb for the usermode presentation component, which is not possible on Windows due to the design of the Apple VHCI Windows driver.

- Kernel driver: https://github.com/imbushuo/DFRDisplayKm
- Usermode co

[2019-09-09 23:22] aunali1 commented on #110
@imbushuo I have a functioning DFR display daemon for linux that works using libusb and DBus for communicating system events (Power states, lock screen, etc.) The framework for drawing UI elements is based on Qt for now, not sure if thats the best option. Will be open sourcing it soon.

[2019-09-10 08:15] MCMrARM commented on #110
I imagine if possible Gtk would be preferred, but I'm not sure if it has a flexible enough layout engine, so I didn't start working on anything. Qt is also ok, though Qt Quick I imagine?

[2019-09-11 23:41] Bear-TheWolf312 commented on #71
Seems like Windows has dbus the reference implementation supports windows from what I’m reading.

[2019-09-14 22:54] mfauvain commented on #96
Had another shot at it today, now with kernel 5.12.14 and did what @jboyens suggested.. surprise, ethernet is back.. I powered down the dock, and ran `sudo lsusb -v`, for some reason this time the command took longer, pausing on some usb ports anf then magically the ethernet port appeared.. but this time on the same port as with the apple usb cable :
`[  411.415100] r8152 1-8.3:1.0 enp0s20f0u8u3:

[2019-09-15 09:09] Dunedan commented on #96
As you've narrowed down the problem a bit now: Have you considered opening an issue in the kernel bugzilla, so that hopefully somebody with more knowledge of the USB stack can have a look at it?

[2019-09-15 21:18] mfauvain commented on #96
Still very unclear to me, however I submited the bug in bugzilla : [https://bugzilla.kernel.org/show_bug.cgi?id=204871](url)

[2019-09-16 18:05] TRPB commented on #112
can anyone tell me where the trx and clmb files are? On Arch if it makes any difference.

[2019-09-16 18:37] TRPB commented on #71
For WiFi, where do I get BCMWLANFirmware4364_Datastore.kext  from?

On OSX I only have BCMWLANFirmware4364_Hashstore.kext

If it's in an update, I made the OSX partition too small to install the latest update. Is there anywhere I can manually download either BCMWLANFirmware4364_Datastore.kext  or the trx files from?

[2019-09-16 20:20] Dunedan commented on #98
@hashimda Do you still experience this issue with a recent kernel version?

[2019-09-16 20:25] Dunedan commented on #70
@whereswaldon Did you have any additional insights regarding this issue? Do you still have this problem?

[2019-09-16 22:13] YungRaj commented on #71
Is anyone open to me creating a thread that would coordinate all the previous work done into a guide or tutorial of some sort that would effectively explain what to do in order to get what previously was not working?

I personally myself have flipped across repo by repo, issue by issue and wouldn't say I know for sure what to do to get a partially working install running for further testing.

Curr

[2019-09-16 22:15] gbrow004 commented on #71
Sounds like a great idea to me!

[2019-09-16 23:23] YungRaj opened #118 "Instructions on how to build kernel and OS images with drivers and patches MBP 15,x and MBA 8,x"
This thread is dedicated to providing instructions on how to build a kernel image with the drivers and patches needed to run linux on the machines specified in the title. The instructions will include what it is and isn't working, and what is currently being worked on. Hopefully if and when complete, the instructions can provide a build environment that works for most if not all distributions. May

[2019-09-17 00:57] hashimda commented on #98
@Dunedan There are no issues with initialization or crashing on recent kernel versions so far, it's been working perfectly. I am using the 5.2.14 kernel on Arch Linux, though all the 5.2.x kernels seem to work well. This issue can be closed.

[2019-09-17 00:57] #98 closed

[2019-09-17 12:09] marc-git commented on #70
I have this laptop, but I'm no genius, how can I check this?
`sudo cat /proc/<pid-of-kworker>/stack `
how to find out the pid of a kworker?

[2019-09-17 15:33] TRPB commented on #71
I just did this yesterday on Arch. I'm stuck at wifi stage but here's an overview using aunali1's prebuild kernel.

# Hardware Prerequisites

You'll need at least the following hardware:

- At least 3 USB-A to USB-C converters if all your devices are USB-A
then:
- A USB drive
- An external keyboard
- USB to Ethernet adapter, compatible USB dongle or USB tethering on a phone

# Build archiso with a

[2019-09-17 18:05] YungRaj commented on #112
Can someone post to the original MacBook Pro 15,x thread about how to get the wifi working? It looks like many people have successfully gotten it working. @TRPB has a guide about how to build ArchLinux for these machines but doesn't have the wifi module working. Eventually I plan on writing a guide on how to get it working on more than just one Linux distro collectively.

[2019-09-17 19:23] MCMrARM commented on #112
TL;Dr with the wifi is to first find your firmware files using `ioreg -l | grep C-4364`, then copy them from `/usr/share/firmware/wifi`. On Linux, the .trx file for your model goes to /lib/firmware/brcm/brcmfmac4364-pcie.bin, the .clmb goes to /lib/firmware/brcm/brcmfmac4364-pcie.clm_blob and the .txt to something like /lib/firmware/brcm/brcmfmac4364-pcie.Apple Inc.-MacBookPro15,2.txt
All of this

[2019-09-17 20:40] EmmaDSamms commented on #71
Hm, im trying to go ahead and do this but when i boot from ubuntu it says "You need to update to boot form this" or when i boot to arch it says AE_ALREADY_EXISTS and a bunch of errors, any ideas?

[2019-09-18 06:03] elggem commented on #37
Is this going to be fixed by Linux 5.4?

[2019-09-18 16:46] YungRaj commented on #71
After using @TRPB's prebuilt archiso image, I found many issues while trying to boot on a MacBookPro15,4. With a USB device plugged in, the boot of the usb stalls at "triggering uevents" and it gives me a thunderbolt error message.

But if I plug in the usb devices after the archiso image usb boots, ip link results in a bunch of errors. If I try to perform pacstrap /mnt base, the machine stalls. T

[2019-09-19 15:07] TRPB commented on #71
@MCMrARM some feedback on the suspend branch of your bce driver

As you said, `pcie_ports=compat` is required. Without this resuming from suspend takes over 3 minutes.

From my point of view there are the following issues:

1. Suspend takes around 30 seconds to a minute (not an issue. Close the lid, put laptop in bag, it stays on for 30 seconds not a big problem).
2. With `pcie_ports=compat` set,

[2019-09-19 16:45] TRPB commented on #71
Something else of interest for suspend.

After roughly 77 seconds, those messages stop appearing in dmesg and the directory /sys/devices/platform/applesmc.768/ disappears. It looks like the applesmc module gives up.

- While the applesmc.768 exists suspend works (it takes a few seconds to suspend, but resume works)
- After 77 seconds and the applesmc.768 directory disappears and suspend no longer

[2019-09-19 17:18] TRPB commented on #71
Ok I have a workaround for most of the suspend issues:

1. Use pcie_ports=compat
2. Blacklist applesmc
3. `rmmod thunderbolt` before suspending (you can modprobe it again after resume)

I still can't get the touchbar to come back without breaking the bce driver but this solves the major suspend/resume issues.

[2019-09-19 20:27] MCMrARM commented on #71
@TRPB I assume you tried the suspend branch of BCE?
Interesting. So, rmmod'ing the thunderbolt fixes it for you? This doesn't make sense - I tried blacklisting every single driver that came into my view, and thunderbolt was one of them. `pcie_ports=compat`isn't supposed to "fix" suspend - it's supposed to fix a resume time of 10s.

[2019-09-19 20:31] TRPB commented on #71
I should have said, yes, this requires the suspend branch of BCE.

There's a few things I noted from dmesg. It shows that thunderbolt causes the hang on resume:

[code]
Everything is fine until thunderbolt.

The other thing I found was that applesmc breaks everything for ~77 after boot so if you try to suspend before applesmc has timed out you get different behaviour. Perhaps you were within this

[2019-09-19 20:32] MCMrARM commented on #71
@TRPB
I obviously blacklisted applesmc as the first thing.
So, how long does it take from a button press to any messages on the screen?

[2019-09-19 20:33] TRPB commented on #71
After doing the above, suspend takes < 1s (at least for the screen and keyboard to turn off, my testing relieved that the GPU is still on for around 5-10s after the screen and keyboard turn off). Resume then takes around 10s, which isn't perfect but significantly better than the 3+ minutes I was seeing with thunderbolt enabled.

[2019-09-19 20:34] MCMrARM commented on #71
@TRPB yeah and the `pcie_ports=compat`'s purpose is to fix the 10s resume time, as I stated 2 comments above.

[2019-09-19 20:38] TRPB commented on #71
That's really odd. Without `pcie_ports=compat`  and before disabling thunderbolt I was getting all kinds of suspend issues. Most of the time it was taking 30s+ to suspend and around 30% of the time taking 3-5 minutes to resume. `pcie_ports=compat` solved the suspend time but still had the resume issue for me until I removed thunderbolt. I'll try again with it  on.

[2019-09-19 20:39] MCMrARM commented on #71
Well I tested it with the Thunderbolt driver blacklisted in the first place, or more exactly, I was testing it on 5.1, which fails to load the Thunderbolt firmware.

[2019-09-19 20:48] TRPB commented on #71
Then it's a different issue with similar symptoms. When you said "long resume" in the earlier post and I was seeing time in the minutes I'd assumed you were referring to that. On the MBP 15,1, with Linux  5.2 the thunderbolt kernel module causes a 30s hang on suspend and a 3-5minute hang on resume.

[2019-09-19 21:01] MCMrARM commented on #71
No, I meant 10s, and 10s is already ridiculous for me. For me the system sometimes failed to resume though (no graphics for sure, and SSH didn't seem to work, but I haven't spent much time verifying that), but I considered "failed to resume" if it didn't wake for a time period that felt like 2 minutes or a bit more, as then I just forced the laptop to shutdown.
If I ever get really bored, I'll try

[2019-09-19 21:05] TRPB commented on #71
I normally would have too. I only noticed that it did eventually resume because I happened to leave it while reading through this issue to see if there were any fixes and noticed that it came back to life. Luckily, dmesg told me exactly which module caused it.

[2019-09-19 22:07] aunali1 commented on #71
@YungRaj @EmmaDSamms I have created a testing binary with a 5.1.21 kernel build. Just follow @TRPB 's instructions but replace any references of my master repo `mbp` with `mbp-testing`.

[2019-09-19 22:49] roadrunner2 commented on #71
@MCMrARM, @TRPB: just FYI, not sure if you're aware of or already using it, but there's a script in the kernel sources, `tools/power/pm-graph/sleepgraph.py`, that will do a suspend/resume and generate a nice graph showing what components/drivers are taking how much time during suspend and resume. That's how I also discovered that the thunderbolt driver was the main cause for the slow resume on my

[2019-09-19 23:42] EmmaDSamms commented on #71
i keep getting ICM firmware is in wrong mode: 15

[2019-09-19 23:48] TRPB commented on #71
Try rmmod thunderbolt

[2019-09-20 00:01] EmmaDSamms commented on #71
where do i enter that? it crashes right on boot

[2019-09-20 00:32] roadrunner2 commented on #71
@TRPB Regarding touchbar suspend: so you're saying the removing the module before suspend and adding after resume works reliably, but if you leave it in during suspend then after resume 1) the touchbar stays dark, and 2) trying to remove the module hangs? The odd thing is, there's really not much difference between the suspend and the module-remove handling in the `apple-ib-tb` driver - but I gues

[2019-09-20 02:06] whereswaldon commented on #70
I think you're right that the overheating wasn't from this interrupt
anymore. I just returned this MacBook to my employer in exchange for a
Thinkpad (better Linux support), so I'm no longer in a position to test
this. I just couldn't take no wifi any longer, any I couldn't find an AC
wireless adapter that worked. Thanks everyone for your insights!

On Tue, Sep 17, 2019, 8:09 AM marc-git <notificat

[2019-09-20 11:01] TRPB commented on #71
@EmmaDSamms

If it's crashing on boot try adding `blacklist thunderbolt` to `/etc/modprobe.d/thunderbolt.conf`. It may not be thunderbolt that's the issue but thunderbolt was causing ICM related errors for me.

Yes, that's correct. It causes the keyboard and touchbar to stop working as well. I can ssh into it just fine and I've attached dmesg from resuming with the module loaded.

[dmesg-resume-ap

[2019-09-20 11:10] MCMrARM commented on #71
@roadrunner2 Yeah, I used sleepgraph but nothing interesting could be taken from it - I also enabled the most verbose mode and also nothing interesting could be inferred from the log, so sadly we're going to be stuck with manually debugging it.

[2019-09-20 12:37] TRPB commented on #71
For now, to get suspend/resume working correctly on 5.2 here's a useable workaround that automatically unloads the problematic modules on suspend and reloads them on resume. Should work on any distro that uses systemd.

`/lib/systemd/system-sleep/rmmod.sh` (make sure to chmod +x)

[code]

[2019-09-20 12:51] EmmaDSamms commented on #71
I was able to get the arch iso to boot, but I’m having issues with grub. When I made a efi partition Mac complained it couldn’t find the boot, when I used the default Mac partition it gives me invalid op code on grub install

[2019-09-20 12:54] TRPB commented on #71
You shouldn't need to do anything to the existing partition, just mount it at `/boot`. Here's my `lsblk`:

[code]

nvme0n1p1 is the EFI partition untouched from what apple provided (Though I had installed windows in bootcamp previously, I can't see how that would have made any difference)

[2019-09-20 13:41] TRPB commented on #71
I've compiled everything into a gist using my earlier guide as a basis: https://gist.github.com/TRPB/437f663b545d23cc8a2073253c774be3

Should require a little less searching around for all the relevant info.

[2019-09-20 13:58] EmmaDSamms commented on #71
Tried this, give me invalid opcode 0000

[2019-09-20 16:15] YungRaj commented on #71
@EmmaDSamms what MBP are you using btw?

[2019-09-20 16:59] EmmaDSamms commented on #71
MBA 8,1

[2019-09-21 01:19] EmmaDSamms commented on #112
Anyone else not have this working on MBA 8,1(air 2018) it shows up as a ethernet device

[2019-09-21 02:05] EmmaDSamms commented on #112
Anyone else not have this working on MBA 8,1(air 2018) it shows up as a ethernet device, thanks :)

[2019-09-21 08:53] MCMrARM commented on #71
The easiest workaround for issues with grub-install is: don't install efibootmgr. The install will fail but that's just fine, it has installed anyways.

[2019-09-21 09:15] MCMrARM commented on #112
@EmmaDSamms sorry, what? Show the output of `lspci`?

[2019-09-23 13:35] marc-git commented on #70
so solved ? or should I have a look?

[2019-09-23 13:41] marc-git opened #119 "14,3 Battery on/off Charging under heavy load"
When doing intensive work drawing heavy power on the laptop I get signals that the battery is discharging and then charging again on and off.  I think this can't be too good for the battery.  What is a good way to regulate that better?

[2019-09-23 21:15] whereswaldon commented on #70
Well, are you experiencing extreme overheating on your model? If so, we
should continue to investigate.

On Mon, Sep 23, 2019, 9:36 AM marc-git <notifications@github.com> wrote:

[2019-09-23 23:15] caioquirino commented on #112
Hi people, for me I have the files in /lib/firmware/brcm/ exactly as @MCMrARM mentioned but when I run `modprobe brcm80211` either in boot time or after, my arch-linux just freeze completely. How can I investigate it? because it just hangs and I need to reboot...

[2019-09-24 04:05] marc-git commented on #70
I was experiencing non-extreme overheating before I disabled the GPU. I mean it would get hot idling on my desk. Since disabling it, the laptop runs warmer in Linux than OSX but it isn't extraordinarily hot.

[2019-09-24 07:41] marc-git opened #120 "14,3 MBP USB devices not present at boot do not appear in lsusb if inserted later."
Running debian from a USB on 5.2 kernel, I can't access a usb drives plugged in after boot. They don't appear in lsusb at all. If I insert at boot, they appear but if unplugged and replugged, no worky.

[2019-09-25 14:06] ClashTheBunny commented on #120
I experience something similar.  I have a USB-C GigE device that I have to run
`sudo modprobe -r xhci_pci; sudo modprobe xhci_pci` to get working from time to time.  I don't remember when it started, but I think it was somewhere in the 4.19->5->5.2 era.

[2019-09-25 22:51] kleuter commented on #71
did anyone manage to get SMC working under Linux? thanks.

[2019-09-26 04:43] marc-git commented on #120
I'm not sure it is a good idea for me to do that, because I'm booting from a usb device.
Should I raise a kernel bug? Or someone who has an idea about what they are doing?

[2019-09-27 21:24] adamretter commented on #118
I have a new MBP 15,3. I just tried `Fedora-Workstation-Live-x86_64-Rawhide-20190923.n.1.iso` which has a 5.4.0 Linux kernel build. Unfortunately whilst it boots into the live USB environment, the trackpad and keyboard are unresponsive.

I had hoped that the patch below might work (assuming its included in the Kernel that I have?):
https://github.com/torvalds/linux/commit/038b1a05eae6666b731920e46

[2019-09-28 00:09] jboyens commented on #120
I have a USB-C hub that does this from time to time. I end up running `lsusb -v` as root to get it working again. There seems to be a bug in enumerating the devices on the bus, but I haven't gotten anywhere in trying to diagnose it.

[2019-09-28 10:50] monkcs commented on #120
Is the hub a usb 3.0 device?

Maybe not related, but I had problem with the usb 3.0 controllers to
autosuspend when on battery power, that resulted in devices not to turn
up until I run "lsusb -v" as root.

I solved that issue by adding a kernel parameter that prevents the usb
controller from autosuspend. This is sure not the best way because of
extra power draw, but it seems to work.

I am runnin

[2019-09-28 16:23] ClashTheBunny commented on #114
Have you tried any of the suggestions in https://github.com/Dunedan/mbp-2016-linux/issues/120?

[2019-09-28 20:42] marc-git commented on #120
@jboyens thanks for the tip will check that out.

[2019-09-30 17:12] GoncaloHit commented on #118
@adamretter im waiting too, currently on windows, but i think you need to built the modules into the kernel in order to work, im still waiting for when it goes upstream

[2019-09-30 21:59] leifliddy commented on #118
@adamretter
Try performing the steps I've outlined here:
https://gist.github.com/roadrunner2/1289542a748d9a104e7baec6a92f9cd7#gistcomment-3028336

Please let me know if you run into any issues, and I'll try and replicate them.

[2019-10-01 16:25] loafbox commented on #112
So I've completely uninstalled MacOS and think I copied over the wrong firmware files before wiping it out.  Would anyone happen to have firmware files for  MacBookPro15,x T2 touchbar model?
Need...
[code]

[2019-10-03 17:44] MCMrARM commented on #112
I'd suggest against uninstalling MacOS completely because of MacOS being your best firmware update source, so you should keep it if you want to say, update bridgeOS.

[2019-10-07 13:09] christophgysin commented on #29
Since https://bugzilla.kernel.org/show_bug.cgi?id=110901 was closed, I created https://bugzilla.kernel.org/show_bug.cgi?id=205115 to track the remaining issue for models without touch bar.

[2019-10-08 09:15] jhabdas opened #121 "Catalina"
I'm working on an Arch dual-boot on a DMCtypt partition with Catalina once the download finishes. Assuming T2 disabled etc. I'm interested to hear now that Catalina "runs in its own dedicated system volume" ([as reported](https://www.youtube.com/watch?v=qxdkIcjn260) by 9to5 Mac, 9:20) how we can make Linux on MBP a thing. I'll be attempting this on a 2019.

[2019-10-09 21:14] JeremiahCornelius commented on #37
I fixed this issue for my 14,1 for suspend/resume. This is as simple as a setting in the PCI driver, for the nvme storage.
`cat 0 > /sys/bus/pci/devices/0000\:01\:00.0/d3cold_allowed`

This needs to be done as root, sudo won't allow access on Ubuntu 19.xx. I wrote a simple script and a systemd wrapper for startup - depends multiuser.

I suspect this may work for other modern MBP models, prior to T

[2019-10-09 21:24] JeremiahCornelius commented on #37
These fixes work like a charm under Ubuntu/Pop_OS! 19.04 and 19.10 beta.

/etc/systemd/system/fix_sleep.service
[code]
/sbin/fixsleep
[code]

[2019-10-10 12:57] ClashTheBunny commented on #121
Apfs volumes are different from partitions.  It's more like btrfs and zfs than a classic FS.

[2019-10-10 12:58] ClashTheBunny commented on #70
I wonder if this is just a hardware issue:
https://apple.stackexchange.com/a/363933

[2019-10-10 13:48] jhabdas commented on #121
That's fine, I just threw on an ExFat temporarily so I can try booting from USB-C, hopefully it goes off without a hitch like it did on the LUKS partition I used DMCrypt to create on my MacBomb https://habd.as/post/dual-boot-manjaro-mojave-macbook-pro/

[2019-10-11 19:50] Helios747 commented on #121
This repo appears to be about the 2016/7 macbooks, so I'm not sure how relevant running Linux on a 2019 model is here.

If it's anything like the current state of 2016/7 models though, probably pretty miserable. The issue isn't getting it installed and booting.

[2019-10-12 03:02] jhabdas commented on #121
Found a workaround because I needed Arch. Will post here shortly and will close this issue with my solution.

[2019-10-12 15:46] CuriousTommy opened #122 "iMac19,1 has very low successful boot rate"
My Parent's 2019 iMac has a very high failure rate when I try to boot Fedora 30 from my portable drive. It often gets stucks on the loading screen, after I enter my encryption password.

I tried to update the boot arguments to remove quiet mode, but it doesn't seem to provide any useful information (I have to press ESC to get any useful information).

Here is a screenshot of the issue. It seems to

[2019-10-12 16:00] CuriousTommy commented on #122
On rare occasions, the iMac may freeze after boot (fans tend to spin up), but that normally doesn't happen.

[2019-10-14 09:02] pokui commented on #71
For anyone following this, it looks like the NVMe patches from @ozbenh  have finally made it into the mainstream 5.4 rc2 kernel - see below:

I haven't checked on the status of the other patches.

https://github.com/torvalds/linux/commit/8f5914bceef03827c3feb413874b2e6f29c821be

[2019-10-15 11:40] brodobrz commented on #71
I tried it on macbookpro15,2, I described all the problems here:
https://gist.github.com/TRPB/437f663b545d23cc8a2073253c774be3#gistcomment-3055646

[2019-10-15 19:19] vamsi360 commented on #71
@pokui
will running a 5.4-rc2 kernel boot up with most things working?

[2019-10-15 22:37] mfauvain commented on #96
back again with the issue. Same as last time. power failure while connected. after power is back up, ethernet port not recognized with original usb-c cable. again, 'sudo lsusb -v' not doing any magic. Reported the issue again to linux-usb@vger.kernel.org as asked on bugzilla.

[2019-10-16 11:34] fflorens commented on #71
Thanks to this guide and the amazing work done, i know have a pretty much functionning Linux install on my macbook, but i am still having a problem with it, even after searching for acpi_mask, powersave feature/whatever, the laptop always runs pretty hot, like if the fan were always spinning at their lowest speed, and the cpu is then throttling.
A wild guess would be that power management // fan c

[2019-10-16 13:01] fflorens commented on #71
Also i noticed that the touch bar volume control seem to be not woring :/

[2019-10-16 20:37] brodobrz commented on #71
What DE you are using? On xfce4 it's works.

[2019-10-16 21:46] julian-alarcon commented on #121
What was your solution @jhabdas ?

[2019-10-17 03:51] jhabdas commented on #121
Docker inside Hyper. CLI sneak preview info here: https://t.me/afterdarkhugo/13928

[2019-10-17 12:08] fflorens commented on #71
Im using i3, but what is strange regarding those keys, is that even xev does not record any keycode for the volume button, all the other return a keycode

[2019-10-17 12:31] Hi-Angel commented on #71
@fflorens I think it's sending ACPI events. You can see for example [this Arch wiki page for some more info](https://wiki.archlinux.org/index.php/acpid).

[2019-10-18 10:56] fflorens commented on #71
From what i understand we can drop all the nvme related patch with 5.4 but there are still some wifi/sound/camera/tb stuff needed to have stuff working

[2019-10-18 15:03] jhabdas commented on #121
@julian-alarcon wip solution https://git.habd.as/comfusion/archuro/src/branch/master/bin/archuro

[2019-10-18 15:13] #121 closed

[2019-10-19 19:35] fflorens commented on #71
@Hi-Angel Nice catch, indeed for the sound and kb backlight it send acpi events, i was able to sort it out nicely [with acpid
](https://wiki.archlinux.org/index.php/acpid) also, unbinding the poweroff acpi event from the touch id button avoided me some silly stuff, as i was used to take it out of sleep this way

[2019-10-20 11:06] darkermatter commented on #37
@JeremiahCornelius unfortunately this fix doesn't seem to work on a MacBook9,1 :-(

[2019-10-21 07:13] christophgysin commented on #37
Seems to work for me on a MacBookPro13,1. Maybe we could add that to the README?

[2019-10-21 07:19] Dunedan commented on #37
Sure, just open a PR. :slightly_smiling_face:
Would be interesting to see, if this also works for MacBook Pro's with Apple's own NVMe controller.

[2019-10-23 08:36] fflorens commented on #71
By the way, i've successfully compiled and installed kernel 5.4-rc4, using pretty much the same patch set that are in @aunali1 PKGBUILD, just removed the nvme related patch and the bluetooth one, as they are all merge in 5.4-rc4, i just need to patch the bridge driver using the patch from @axxapy that is available there : https://github.com/axxapy/mbp2018-bridge-drv/commit/6ea8290de759c9b7df87b3cf

[2019-10-23 10:14] tomaytotomato commented on #71
Anyone had any luck with a Debian distro on 15,2 ?

I have created a partition ready for an install so I can do whatever people recommend or want me to test.

[2019-10-24 12:48] fflorens commented on #71
Here are the two things that i have in the journal after rebooting from a failed resume (Laptop is powered on, and it seems like functionnal, just that the screen is black)
There are three things there :
1/ Backlight init failure (well i don't have one so might be related :D, but its there on boot and on resume, but keyboard/touchbar/trackpad are fonctionnal)
2/ getting some watchdog stuff about t

[2019-10-26 20:56] David-Maay commented on #37
Works for my Macbook Pro 14,1 (13" 2017 without touchbar) running Ubuntu 19.10. However it takes about 10-20 seconds until the lockscreen shows up. Is there a fix for this behavior?

[2019-10-27 03:03] JeremiahCornelius commented on #37
I haven't yet figured what takes resume so comparatively long to complete. As is, it's completely usable, turning Linux on this MBP from being a hobby-project, to a real tool.

[2019-10-27 14:14] marc-git commented on #37
any suggestion about how to do this when booting from usb ?

[2019-10-29 16:03] miki2o commented on #112
Is it possible to apply this procedure to MBP 13,3? Taking the .trx, .clmb and .txt from osx and putting them in linux?

[2019-10-30 18:25] monkcs opened #124 "applespi module not compiled into stock Fedora kernel 5.3+"
Hello!
Maybe this is the wrong place to ask, and if so I apologize in advance!

I have upgraded my kernel to 5.3.7, to be able to use my MacbookPro14,1 on Fedora 30/31 without to have to manually install the applespi module from [roadrunner2](https://github.com/roadrunner2/macbook12-spi-driver). But the in-tree module is not available to modprobe or list as a driver compiled into the kernel.

Afte

[2019-10-30 19:56] christophgysin commented on #124
This is the right approach to get it fixed for all fedora users from the next kernel release onwards.

Until then, you can always build the module yourself. Source and instructions can be found at:
https://github.com/cb22/macbook12-spi-driver

[2019-11-01 00:24] JeremiahCornelius commented on #37
If you are having this problem when booting USB, it MAY still be the NVMe. Even if you don't have a filesystem active on it, the PCI wakeups are going to happen, right? I'd look to the same fix.

If you find that the USB filesystem returns, but is mounted as write-protected, there will have to be a similar fix to my NVMe to be sorted. The difficulty with this is that USB information may be differe

[2019-11-01 00:35] JeremiahCornelius commented on #37
I'm on a Mid-2017 13" - MPXQ2LL/A* - MacBookPro14,1 - A1708 - 3164.
That's nearly as modern as they come, without moving to the Apple T2-chip machines, like 2018 MBPs and new MB Air.

You're the expert here, but I'm pretty sure my PCI fix isn't going to help those machines, because the T2 has all of its signing requirements to access devices it obscures.

However? I do have a 2018 MB Air, that was

[2019-11-01 07:46] Dunedan commented on #124
I recently opened a bug for Debian to get the `applespi`-driver included there as well: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=943337
So far no response.

[2019-11-01 08:33] marc-git commented on #37
Not sure. The light on the usb drive (Samsung T5 SSD) is off and stays off when waking. Maybe I could try on the NVMe but seems doubtful.  The usb drive doesn't have the same files in /sys/bus/usb as the NVMe drive.

[2019-11-01 16:35] JeremiahCornelius commented on #37
Yes, I wouldn't expect the structure to be the same.  It does sound like a similar issue to PCI NVMe, where the defaults for power state of devices on the bus inhibits their waking after suspend/resume.

I may have some time to look at this in the week ahead.

[2019-11-01 19:07] marc-git commented on #37
No worries I'll have a look. Right after I'm done with the S section of my dictionary

[2019-11-02 12:22] Dunedan commented on #37
Great. Disabling `d3cold` for the NVMe controller as mentioned above fixes resume on my MacBookPro13,2 as well. It also takes 10-20 seconds to come back up, as others already reported, but it's at least some progress. :clap:

[2019-11-06 17:39] TRPB commented on #71
Has anyone had any luck getting the fan working? The MBP overheats all the time because the fan never spins up. I think it might be an applesmc issue but even being able to manually control the fan would be useful.

[2019-11-06 17:42] KenaiTheWolf commented on #71
Thought this project had started to go stale. You guys know there is no SMC right? It’s the T2 you gotta look at.

[2019-11-06 17:45] imbushuo commented on #71
SMC is still there from system’s perspective, although built into T2.

I believe the traditional x86 l/O port method in the applesmc module is out-dated, as macOS uses MMIO to communicate with SMC nowadays.

Thanks,
Bingxing Wang

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Kenai Ulfr <notifications@github.com>
Sent: Wednesday, November 6, 2019 12:42:39 PM
To:

[2019-11-06 17:47] KenaiTheWolf commented on #71
Good to know. Uh so I haven’t been on in a long time, what’s the status on this project as a whole?
Does suspend work?
How about audio?

[2019-11-06 17:48] KenaiTheWolf commented on #71
As for working around the fans, you might attempt to boot macOS then restart (not cold start) into Linux.
There’s a chance this’ll leave the resident code from macOS in the T2 (as it does for Windows) and allow you to have a fan

[2019-11-06 17:57] TRPB commented on #71
thanks for the suggestion, unfortunately I just tried it and still have no fan in linux even after booting OSX (and logging in in case it made any difference) first.

[2019-11-06 19:48] kleuter commented on #71
[This app](https://github.com/crystalidea/macs-fan-control/releases/tag/v1.5) works with T2 SMC

[2019-11-06 22:59] KenaiTheWolf commented on #71
That app is for macOS and the windows variant does not work.

[2019-11-07 10:05] kleuter commented on #71
SMC integrated into T2 cannot be accessed anywhere except macOS.

[2019-11-07 17:56] MCMrARM commented on #71
wait the SMC is not actually gone on OS X i think..?

[2019-11-07 18:00] MCMrARM commented on #71
I'll look into it, I thought the SMC is gone altogether and didn't know where to look, thanks.

[2019-11-07 20:36] kleuter commented on #71
@MCMrARM
thank you! I'd be happy to add SMC support in the Windows version of my app.

[2019-11-07 20:51] TRPB commented on #71
I don't even understand why we need to interface with the SMC just to get a fan profile. On normal computers a default fan curve is applied by the BIOS, no input from the OS is required.

[2019-11-07 21:17] MCMrARM commented on #71
My experience is that the fan did come up but it do so really badly, like, the thermal profile was really bad and the fan doesn't keep up even in idle.

I've done some basic reverse engineering of the OS X driver and am now implementing the MMIO-based interface in the SMC driver.

[2019-11-08 11:50] TRPB commented on #71
thanks again for all your hard work. While you're working on this would it be possible to merge the suspend branch of the bridge driver into master so we don't have to chose between audio and suspend?

[2019-11-09 14:18] liberostelios commented on #47
According to the latest posts from the original discussion, just a few days a go someone managed to set the correct parameters for the driver in order to make WiFi 5GHz work with mbp 13.2 and 13.3:

1. Download [this](https://bugzilla.kernel.org/attachment.cgi?id=285753) file.
2. Open it with a text editor and set the mac address line with your own card's address.
3. Place it in /lib/firmware/brcm

[2019-11-09 14:43] miki2o commented on #47
Trying right now on Ubuntu 19.10 installed on internal SSD.
Will update with news soon.

[2019-11-09 15:17] marc-git commented on #47
Ref to comment: https://bugzilla.kernel.org/show_bug.cgi?id=193121#c52

[2019-11-09 15:30] marc-git commented on #47
OK I am posting this over my 5GHz connection. That was quick. I am on MBP14,3
Note the mac address in the firmware is 00:90:4c:0d:f4:3e for all devices. And this works fine for me.

[2019-11-09 15:36] marc-git commented on #108
Hi there.. Any progress on this?

[2019-11-09 19:07] davidjo commented on #108
I uploaded a new version around Oct 25th which is much improved. It now handles some headsets with mike plus no mike headsets. I also think it is working on 14,1, 14,2 and 14,3 (which seems to mean some 13 series machines also - basically anything with a 8409 HDA and either MAX98706 or SSM3515 amps plus CS42L83A chip) - at least other users have said this. So I think I have a working kernel module

[2019-11-10 17:06] Dunedan commented on #70
Even under macOS those MacBookPro's have horrible thermal management, because Apple squeezed too many high power devices in such a small form factor. Under Linux this is worse, because Linux still lacks several power management features (like missing Thunderbolt power management, which also prevents the CPU package to reach power saving states). Under Linux I have a warm case the whole time, no ma

[2019-11-10 17:08] Dunedan commented on #47
@marc-git As I already mentioned in bugzilla that's not yet a complete solution. I did some tests and connecting to nearby 2.4Ghz access points (no matter if they use encryption or not) simply doesn't work for me with the latest changes applied. 5Ghz works fine so far though.

[2019-11-10 17:17] marc-git commented on #47
This is working fine for me. I had been doing `sudo iwconfig wlp3s0 txpower 10` for a while and could only get 2.4GHz networks, but that was quite reliable for me.
Now with this fix I can do both? Just switched from the 5GHz to 2.4GHz network while typing.  Very stable on my 14,3.

[2019-11-10 21:38] miki2o commented on #47
Same. Can switch flawlessy between 2.4 and 5 GHz.

[2019-11-10 22:59] JeremiahCornelius commented on #37
Wow. I'm pretty proud of solving this. FWIW, my 14,1 is faster after a coupe of weeks of this. I also went to a low-latency kernel - I wonder if this is related?

[2019-11-11 00:11] leifliddy commented on #124
https://bugzilla.redhat.com/show_bug.cgi?id=1769465

[2019-11-11 02:48] Ninja73737 commented on #9
Hello! I'm experiencing what I think is this problem again on distros running Linux kernels 4.18 and newer. I would be grateful for any support/suggestions that anyone has.

`nvme list` shows nothing, and `dmesg | grep nvme` shows
`[1.171649] nvme nvme0: pci function 0000:04:00.0
[1.176950] nvme nvme0: detected Apple NVMe controller, set queue depth=2 to work around controller resets
[1.205005] nv

[2019-11-11 07:31] marc-git commented on #37
Not really much further on my usb drive with same issue.

The device is identified as 6-1 but presumably this can change, though I can use a script to identify it. (Google being my friend)
[code]
I thought the power dir would be of interest but could not find anything in there:
[code]

So maybe this is controlled somewhere else?
[code]
Any idea if Debian has a systemd option that could simply disa

[2019-11-12 21:44] MCMrARM commented on #71
I'll do that when I have a while.

I got basic MMIO impl working for the ACPI device, sadly I rewrote the whole driver pretty much as a consequence, so it'll take me a while to upstream it. Fans are now using floats for speeds as an added bonus by the way.

[2019-11-12 22:21] MCMrARM commented on #71
Further progress, all SMC keys:
https://mrarm.io/u/Paste%202019-11-12%2023-18-30.txt
I have no idea how to force a manual fan profile, the "FS! " key is missing, anyone has any ideas? Otherwise, I'll RE the OS X userspace stuff later.

[2019-11-12 23:20] kleuter commented on #71
@MCMrARM In new T2 SMC
1. Fans have no names (unlike previously under F0ID, F1ID...)
2. As you previously noted, fan RPMs are stored in float values, e.g. F0Mn, F0Mx, F0Ac, F0Tg min/max/current/target speed
3. Manual mode is now specified via F0Md key (1 or 0)

[2019-11-13 18:30] imbushuo commented on #71
Also I believe the MMIO approach can be extended to other recent models that do not come with T2, such as `MacBook8,1` and `MacBook9,1`.

[2019-11-13 21:38] MCMrARM commented on #71
I'll write a short doc on how the MMIO based IO works in a few days, then I'll rewrite the driver again as my changes became an even bigger mess than the original driver was.

Does anyone have any idea what libSMC.dylib's SMCStartAccum and family is used for? I can't find what uses it but something definitely does.

OS X does NOT take fan control from the SMC. I have no idea what the shitty fan si

[2019-11-13 21:56] MCMrARM commented on #71
@kleuter thanks for the note, writing F*Md works! So manual mode achieved. I'm a bit unhappy that I can not get the fully automatic mode working though, so that's what I will want to figure out.

[2019-11-13 21:57] kleuter commented on #71
Great! Looking forward to see some code actually 👍

[2019-11-13 22:06] MCMrARM commented on #71
well @kleuter the issue is that the SMC controls the fans to a solid 1250/1350 and it doesn't change them so I'm really confused @ wtf is happening.

[2019-11-13 22:23] ozbenh commented on #71
On Tue, 2019-11-12 at 13:45 -0800, MCMrARM wrote:

You're using floating point in the kernel ? That could be a problem...

Ben.

[2019-11-13 22:25] ozbenh commented on #71
On Wed, 2019-11-13 at 14:07 -0800, MCMrARM wrote:

Does it have some kind of watchdog ? IE, needs to be "pung" regularily
? Does it need to be fed temperatures by the OS ? I remember oddities
like that back in the old powerpc days on some machines.

Ben.

[2019-11-13 22:32] MCMrARM commented on #71
There's a watchdog, although I'm not sure if OS X "pings" that watchdog in reality.
No temperature feed exists.

[2019-11-13 22:35] MCMrARM commented on #71
Oh ffs Apple, WKTP has to be set to zero. What insanity is this honestly. This should be the default.

[2019-11-14 01:51] leifliddy commented on #124
applespi support has been added to Fedora kernel
[code]

[2019-11-14 06:48] marc-git commented on #124
looks like this has been reallocated to source in a long list of unclassified normal severity bugs.

[2019-11-14 17:51] Dunedan commented on #9
@Ninja73737 Your issue seems to be a new different one than the one discussed in here, so please open a separate Github issue for it.

[2019-11-15 02:02] Meowcat285 commented on #71
I am just popping in here to offer any help if anyone wants me to help

[2019-11-16 10:04] arteal opened #125 "Keyboard missing in Arch Linux initramfs"
Hello,

first of all, thank for great work, I finally managed to try Linux on MBP thanks to this repo!

I have installed Arch Linux with full system encryption, so I need to enter password in initramfs. I understand, that driver for keyboard is `applespi` module, from running system I see :
[code]

So I have pulled all 3 modules to initramfs image and ensured it is here :
[code]

But keyboard stil

[2019-11-16 10:26] roadrunner2 commented on #125
You are missing the `intel_lpss_pci` module: see the README at https://github.com/roadrunner2/macbook12-spi-driver for details.

[2019-11-16 17:21] MCMrARM commented on #71
wtf is this shit:
![Image](https://mrarm.io/u/Clipboard%202019-11-16%2018-19-46.png)
I booted that laptop in DFU, tried to use checkm8, I presume checkm8 failed, then I got this nice USB device:
[code]

[2019-11-16 19:43] MCMrARM commented on #71
Seems that no checkm8 for me -- one needs to figure out offsets and for that you need a SecureROM dump which we can't obtain I imagine. RIP.

All I want to do, is dump the SE ROM ffs.

Anyways, some doc on the SMC: https://mrarm.io/u/Paste%202019-11-16%2020-41-20.txt
From what I found on the internet, the SMC is part of the SE. This is yet another reason to be interested in the SE. I can only say

[2019-11-16 21:25] MCMrARM commented on #71
Anyways if anyone has any ideas how to dump the SEPOS, I'd greatly appreciate them (or perhaps if someone knows someone who dumped it already, that works too).

[2019-11-16 21:39] JeremiahCornelius commented on #37
I wish I'd more time to help you with this.
For USB power management, my best guess is that ACPI parameters are set as kernel arguments for boot in the GRUB command line. It shouldn't be Debian specific.

The best starting resource for these inquiries is documentation on kernel.org:
[](https://www.kernel.org/doc/html/v4.16/driver-api/usb/power-management.html)

[2019-11-16 21:45] JeremiahCornelius commented on #37
The more recent docs for 5.3 have references for USB persist during suspend:
(https://www.kernel.org/doc/html/v5.3/driver-api/usb/persist.html)

[2019-11-17 08:43] arteal commented on #125
That made a trick! Hope this thread helps somebody else. Thanks for help!

[2019-11-17 08:43] #125 closed

[2019-11-17 09:24] marc-git commented on #37
Any idea how one passes the grub-type commands through ReFind?

Thanks will have a look at that. Looks interesting. I'm pretty sure I saw that too.

[2019-11-17 14:50] monkcs commented on #124
Tested on Fedora 31, keyboard working out of the box

[2019-11-17 14:50] #124 closed

[2019-11-17 21:07] MCMrARM commented on #71
I rewrote the Linux driver to something I am happy with: https://mrarm.io/u/Paste%202019-11-17%2022-04-01.html
I'll make the Git history for this available soon (it's a lot of changes that I split into 6 commits). A version with the accelerometer part disabled so it compiles as a module is available here: https://mrarm.io/u/Paste%202019-11-17%2022-05-30.html (accelerometer is not supported on the

[2019-11-17 22:24] MCMrARM commented on #71
https://github.com/MCMrARM/mbp2018-etc/tree/master/applesmc
The whole patch set is available here, sorry for the delay. Again, I'd greatly appreciate testing, I want to submit the patch as soon as possible.

[2019-11-17 23:20] JeremiahCornelius commented on #37
I am unsure about ReFind. Does it call GRUB? I have my machines booting natively from Mac firmware, mounting the HFS-plus EFI partition (/dev/nvme0n1p1), under /boot (/dev/nvme0n1p2).
This simplifies things immensely, once you assemble the right bits for FS and "blessing" system at original install.

[2019-11-18 08:03] fflorens commented on #71
rc8 landed yesterday, so ill just compile in your patches and see how it goes :) any specifics you want me to try ?

[2019-11-18 11:26] MCMrARM commented on #71
Manual fan override, overall driver functionality.

[2019-11-18 14:39] kleuter commented on #71
@MCMrARM
Thank you! Maybe you'd find these ACPI sevices useful as well
APP0001 - Apple SMC device
APP0002 - Apple panel backlight
APP0006 - Apple memory controller GPE event
APP000B - Apple graphics mux
ACPI0001 - Apple SMBus 1.0 Host controller
(taken from Boot Camp drivers)

[2019-11-18 15:30] fflorens commented on #71
I don't know if i am doing this write, but from looking at the code of macfanctld, i should write to `fan?_min` but doing so result in no changes in the fan speed (and i wrote 0 to `fan?_manual` before)
Is there something subtil that i did not quiet catch ?
here is what i get in dmesg :
[code]
I have a MBP15'4 and i loaded the `applesmc_t2_kmod.ko`

[2019-11-18 15:47] brianbeardall commented on #71
Looks like the fan now works. I cloned the repo and built against the 5.3.11 linux kernel.

So here is what I've done:

1. Clone aunali1/linux-mbp-arch and patched the Linux 5.3.11 kernel.
2. Clone MCMrARM/mbp2018-bridge-drv and built the driver.
3. Clone roadrunner2/macbook12-spi-driver and built branch mbp15.
4. Clone MCMrARM/mbp2018-etc and built applesmc.

Now the nvme is accessible, keyboard

[2019-11-18 18:22] MCMrARM commented on #71
TB3 is not working, it should work on 5.3 but it freezes the whole platform. I might attempt to debug this at some point but I'd rather avoid it as I have no familiarity with the code in question.

@fflorens I don't think you can write to fan?_min. echo 1 > fan?_manual, then you can set the fan speed via fan?_output.

[2019-11-18 18:23] MCMrARM commented on #71
@kleuter are any of these devices of interest though? I don't think anything mentioned in there is actually broken right now.
Also how would you like to be credited regarding the fan manual control in the commit description? I couldn't find your realname/email.

[2019-11-18 20:28] Dunedan commented on #125
@arteal To improve the situation for future Arch users you could get Arch to include the (nowadays upstreamed) `applespi` driver in the initramfs by default.

[2019-11-18 21:15] kleuter commented on #71
You can use Steven Meyer <support@crystalidea.com> if you'd like 👍
Did you see my question in Twitter regarding the Windows support? thanks, Paul.

[2019-11-21 12:10] fflorens commented on #71
I might have done something wrong before, but i got it working with your instructions @MCMrARM, i can now enjoy a non overheating mac :D

[2019-11-22 05:16] marc-git commented on #70
Yes let's close it. I was just trying to see if I could boost fans with mbpfan but that hasn't been developed for the 14 models so maybe not worth it.  Anyway **extreme** overheating is not something I am experiencing.

[2019-11-22 05:25] marc-git commented on #37
ReFind doesn't call grub. It finds the initram files and boots directly

[2019-11-22 08:44] fflorens commented on #71
I also noticed that while the `fanX_max` give you some sort of maximum speed, the fan can actually run way higher, but I don't know if it is safe  (both fan can actually go up to 7500 rpm apparently by reading from the output

[2019-11-22 12:28] fflorens commented on #71
I slapped together this python thing : https://github.com/fflorens/mbp-fanctl to control then fan curve on my mbp using your driver, not perfect, but avoids melting laptop

[2019-11-22 16:24] jonlorusso opened #126 "Can't boot livecd/install image on MacbookAir8,1"
I've tried:

-  Debian Buster (4.19 kernel) ❌
- ArchLinux (5.3.8 kernel) ❌
- Ubuntu 19.05 (5.0 kernel) ❌
- NixOS 19.03 (4.14 kernel?) ✅

I know there was a [bug](https://bugzilla.kernel.org/show_bug.cgi?id=202351) preventing booting on MacBooks, but this doesn't appear to be the same issue as the screen is not completely black.

FWIW, I have the T2 secure boot disabled.

I've attached a few screen

[2019-11-22 16:31] jonlorusso commented on #126
Seems to be due to Catalina upgrade. Some info [here](https://superuser.com/questions/1498235/kernel-panic-with-every-linux-distro-on-my-macbook).  Closing.

[2019-11-22 16:31] #126 closed

[2019-11-23 07:56] #70 closed

[2019-11-23 21:34] MCMrARM commented on #71
The next issue I need to debug is this:
[code]
`Unhandled system event: 50` means the remote controller died, this is after I spam the T2 with A LOT of pings.

[2019-11-26 16:57] MCMrARM commented on #71
Fixed that with https://github.com/MCMrARM/mbp2018-bridge-drv/commit/cf1fee3ef2969d5e43c7cef505ed686b3627640a. The next issue I'm aware of is the terrible performance of the VHCI interface (enable webcam and everything starts lagging).

[2019-11-27 04:14] ozbenh commented on #71
On Tue, 2019-11-26 at 08:57 -0800, MCMrARM wrote:

You fixed it by only sending a single URB at a time for receive ? Did
you try two ? So it can at least fill one while you process one ? Or it
does as well ?

It's odd that it would be limited to a single entry pending in the
queue, that would definitely make performance suck. Unless there's some
extra flow control we are missing.

Cheers,
Ben.

[2019-11-27 11:25] MCMrARM commented on #71
@ozbenh No, it's single at a time, I'm 99% sure, at least for most of the devices (I can validate later if it's true as well for, say, the camera). Performance sucks due to something different, it's not single-endpoint performance that suffers the most, but rather one endpoint can greatly cause a huge perf hit for all the devices.

[2019-11-27 20:59] MCMrARM commented on #71
@ozbenh ok, i'm wrong, sorry.

[2019-11-28 04:09] ozbenh commented on #71
Single entries would somewhat defeat the purpose of having queues :) That said you never know with Apple...

[2019-11-28 19:06] marc-git opened #127 "Catalina Dual Boot"
Can anybody report success or failures ? Can we add something to the README about that?

[2019-11-29 17:11] Dunedan commented on #127
There was already another issue here recently which turned out to be caused by the Catalina upgrade: #126

[2019-11-30 11:36] marc-git commented on #127
Yes purpose of this thread would be to track that issue.  It isn't clear to me whether Catalina upgrade just breaks the linux setup, or if it is incompatible with linux completely.  My MacOS is constantly reminding me to upgrade. I guess I would like to get an idea of what models this is a problem on, if not all.

[2019-11-30 14:09] MCMrARM commented on #71
Ok fixed that along with the new bugs I introduced while implementing the limited size queues.
I still wonder why does enabling the webcam cause the whole interface to lag, and why do pings take... 2ms? (Maybe that's due to batching, though?)

[2019-11-30 22:21] MCMrARM commented on #71
What are the things that need the most attention on the 2018 MBP currently?

A list of known BCE/VHCI/Audio issues:
- The CDC/NCM device has a gigantic ping of >2ms. I have no idea what is the reason for that, but it's seriously weird. Unless it's some batching, I couldn't find an issue by reading the code alone unless I miss interrupts or something.
- Webcam introduces touchpad latency. I'll prob

[2019-12-07 11:22] devalanche commented on #108
@davidjo thanks a lot for your work on this. after a little hassle with meeuw's fork I got my mbp 14,3 speakers speaking on ubuntu 19.10 kernel 5.3.0.24. first goal achieved.
Unfortunately the built-in mic is not working, same prob with the jack.
I am pretty newb to kernel or driver coding, so I can't promise any help beyond testing stuff, but are you still on it? Do you see any chance to make you

[2019-12-07 11:32] devalanche commented on #47
dunno if this would help or make it easier for anyone but putting/overwriting those files in /lib/firmware/brcm/ works for my 14,3 mbp on ubuntu 19.10 kernel 5.3 (even on a customiso)
[brcmfmac43602-pcie.zip](https://github.com/Dunedan/mbp-2016-linux/files/3935013/brcmfmac43602-pcie.zip)

[2019-12-07 22:28] davidjo commented on #108
Its looks as tho meeuws fork is still on my first attempt and hasnt been updated with the commits I made around Oct 15th. But if meeuws fork works on kernel 5.3 for you its highly likely my updated version will work as well. So far I havent tried switching kernels as most of my machines are on 18.04 LTS - but there will be a new LTS version next Spring I think when I will upgrade which will go to

[2019-12-08 16:56] devalanche opened #128 "webcam not properly recognized by any app"
Macbook Pro 14,3 Ubuntu 19.10 Kernel 5.3.0.24
Cheese says "No Device found", Skype finds a cam but delivers black screen while vlc and guvcview recognize the built-in webcam like a charme.
Does anyone have a clue why that is, and how I can solve this issue?

[code]

[code]

[2019-12-08 20:12] devalanche commented on #108
ok so, let me know if I can test anything on the ver 5 kernel. until then I stick to meeow‘s fork since it is not too long time left to the next LTS release

[2019-12-08 20:23] cubimon commented on #112
I can't get it working on my MBP 2019 15,1. I installed `iwd`, `NetworkManager`, enabled the services `iwd` and `NetworkManager`, set `iwd` as default wifi backend in `/etc/NetworkManager/NetworkManager.conf`, copied the three files from OSX to proper names in `/lib/firmware/brcm/`. I have aunali1's linux mbp kernel which contains the wifi patches. What am I missing? `dmesg` says this after boot:

[2019-12-09 11:21] fflorens commented on #71
FYI:
When using a bluetooth headset i am having stutter//lag on the sound, and when i am starting pavucontrol, pulseaudi gets killed, and i have no idea why, even runnign pulseaudio in foregroundmode + verbose does not seem to display anything interesting

[2019-12-10 08:51] marc-git commented on #128
you could change the title of your issue, since you say it works like a charm with vlc and guvcview.
For me it works well with webcamoid. The device being used is /dev/video0 . I think it is a bug with Cheese because even when running `cheese -d /dev/video0` it doesn't work and doesn't say anything about the error
I don't have skype so can't test that. I guess you don't actually need cheese, but y

[2019-12-10 21:32] devalanche commented on #128
yea I would need the cam in skype but also on mattermost/zoom later. so a way to define which device is being used for any app would be perfect. cheese -d /dev/video0 didnt work for me neither.

[2019-12-10 21:37] Dunedan commented on #128
Zoom worked fine for me with a MacBookPro13,2 the past years.

[2019-12-11 21:48] leifliddy commented on #9
someone posted a bugreport for the macbook 2015 (12 inch), running kernel 5.2
https://bugzilla.kernel.org/show_bug.cgi?id=205835

[code]

[2019-12-11 23:01] Ninja73737 commented on #9
@leifliddy Thanks for letting me know, I'll keep an eye on that!

[2019-12-12 02:28] leifliddy commented on #9
I wonder if that patch is actually causing the issue.
http://lists.infradead.org/pipermail/linux-nvme/2015-December/003387.html

Four years is a long time for a temporary patch. Perhaps the underlying issue has already been fixed.

nvme is normally compiled as a module right?

[code]

Can't we just remove that patch and rebuild the nvme module and see if that works.
I'll try that tomorrow....

BTW

[2019-12-12 07:24] AquaMCU commented on #9
Hi. I am the one reporting that issue on the kernel bugtracker.
Here is the kernel version:
Linux ubuntu-budgie 5.3.0-18-generic #19-Ubuntu SMP Tue Oct 8 20:14:06 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
And the Kernel config
CONFIG_NVME_CORE=m
CONFIG_BLK_DEV_NVME=m
CONFIG_NVME_MULTIPATH=y
CONFIG_NVME_FABRICS=m
CONFIG_NVME_RDMA=m
CONFIG_NVME_FC=m
CONFIG_NVME_TCP=m
CONFIG_NVME_TARGET=m
CONFIG_NVME_T

[2019-12-13 03:53] leifliddy commented on #9
AqauMCU sent me his dmesg log

[code]

looks like this is an IRQ assignment issue...

which is detailed here:
https://github.com/cb22/macbook12-spi-driver/issues/71

the possible solutions listed (macbook 8,1) are to:

1. add these modules to the initramfs image
applespi
spi_pxa2xx_platform
intel_lpss_pci

2. boot with 'irqfixup' kernel parameter

3. boot with 'irqpoll' kernel parameter

[2019-12-13 06:47] Dunedan commented on #9
Guys, please. You're currently discussing a separate topic than this issue is about, so please also open a separate one.

[2019-12-14 00:16] leifliddy commented on #9
That's exactly what I was trying to do by highlighting the fact that there's another thread discussing the exact issue that both Ninja73737 and AqauMCU are experiencing.
Since I didn't explicitly state it....
Guys, let's move this discussion to:
https://github.com/cb22/macbook12-spi-driver/issues/71

[2019-12-16 21:55] devalanche commented on #128
zoom is working as well on mine, got skype managed now with a preload script.
thanx anyone

[2019-12-16 21:55] #128 closed

[2019-12-16 21:58] devalanche commented on #127
I started dualbooting with catalina already installed. updated catalina to 15.2 and that didn’t brick anything, even the default start volume kept being the linux partition.
dunno if that helps tho...

[2019-12-19 05:48] darkermatter commented on #29
I followed the process described at [Ask Ubuntu](https://askubuntu.com/questions/515407/how-recipe-to-build-only-one-kernel-module) to compile the modules for `5.3.0` on `Ubuntu 19.10` using the patch above from @risen on a `MacBook9,1`.

It works fine.

[2019-12-20 01:58] crackhd commented on #29
### Issue summary?

This is a long old thread, and even links to specific comments here from other issues are meaningless to me. Bluetooth never worked for me on mbp 14,3 on kernels 4 to 5.3 now.

What do we need to do enable bluetooth support?

[code]

[2019-12-20 14:33] npx001 commented on #9
i know here is not the place but wanted to help
about apple ssd with device id 0x2001 - did not create IO queues

edit kernel/drivers/nvme/host/pci.c and modify
static const struct pci_device_id nvme_id_table[] = {
......
-	{ PCI_DEVICE(PCI_VENDOR_ID_APPLE, 0x2001) },
+    	{ PCI_DEVICE(PCI_VENDOR_ID_APPLE, 0x2001),
+        .driver_data = NVME_QUIRK_SINGLE_VECTOR },

tested with kernel 5.4.5 and

[2019-12-21 20:18] geovie commented on #112
After following @MCMrARM's guide to copy the WIFI firmware files I get the following error when the firmware files are loaded (`dmesg | grep brcm` output):
[code]
More information here: https://github.com/mikeeq/mbp-fedora-kernel/issues/1
Has anyone an idea why it's failing to initialize?

TIA

[2019-12-22 15:51] crackhd commented on #29
1. Do we really need to compile patched source, maybe an older kernel will work? Which one?
2. How to patch unpatched source? Where is the patch ?

Why not just add this info to readme?

[2019-12-22 16:24] marc-git commented on #29
Confused... I have the 14,3 and it works out of box, as per : https://github.com/Dunedan/mbp-2016-linux#bluetooth
Are you trying to do something weird?

[2019-12-22 16:28] crackhd commented on #29
Nope. It did not work for me on both installs of Mint, i just thought it was everyone's problem, before i looked at the table few days ago.

[2019-12-22 16:34] marc-git commented on #29
OK. Wasn't aware there existed a 14,3 without touchbar.

[2019-12-22 16:39] crackhd commented on #29
Correction: mbp14,1

[2019-12-22 16:47] christophgysin commented on #29
For 13,1 and 14,1 apply patch:

https://github.com/christophgysin/linux/commit/ddf622a0a19697af473051c8019fffc1eb66efe7

On Sun, Dec 22, 2019, 18:39 Dmitrij Igorevich <notifications@github.com>
wrote:

[2019-12-22 16:58] marc-git commented on #127
Yes that helps. Will also try and install it then and see what happens. I run linux of a usb ssd

[2019-12-23 02:13] risen commented on #29
@christophgysin doesn't seem to work for my 14,1

[code]

[2019-12-23 20:40] hpe009 commented on #71
Hi, I am seriously impressed with all the work put into getting linux working on the 2018MBP. I would like to test this on my Mac, but I do not inherit the knowledge of compiling a kernel with patches. Therefore I wonder if someone would be so nice to compile a version I can use together with Ubuntu? Any help would me much appreciated. And thank you in advance

[2019-12-23 22:03] marc-git commented on #127
Installed Catalina. Didn't affect my USB drive install of debian sid.

Answer is Catalina Dual Boot works on 14,3 but install corrupts the installation on the NVMe.

[2019-12-24 07:55] Xinkai commented on #112
I am having the same issue @geovie. This is the dmesg with `brcmfmac.debug=2097150`. (Some omitted).
[code]

[2019-12-24 08:02] Xinkai commented on #112
From what I understand, the firmware is executed not on the CPU but on the Wifi device. Is there a way to make the Broadcom chip talk back so we can know what's going on? I noticed that there's a `fwsignal.c` file in the kernel tree that suggests it kinda does that, but I don't know how to use it.

Let me know if any more information is needed.

[2019-12-24 23:31] airyy commented on #29
@christophgysin @risen Could you guys share the compiled .ko file for the patch as I was able to compile but must have messed something up along the way as insmod gives the following error: ERROR: could not insert 'hci_bcm': Unknown symbol in module, or unknown parameter

[2019-12-25 00:17] leifliddy commented on #29
@airyy It helps to know what kernel you're running if you want someone to compile a module for your specific kernel version. Compiling the bluetooth module should be pretty straight forward.
Try cloning this repo:
https://github.com/leifliddy/macbook12-bluetooth-driver

...and running ```install.bluetooth.sh```

This repo works for kernels 5.2 and 5.3. If you're running an earlier kernel, just rep

[2019-12-25 01:52] mfauvain commented on #29
@leifliddy will this work for kernel > 5.3? ie : 5.4.6? (just a check before going fwd and apply the patch)

[2019-12-25 04:58] airyy commented on #29
I had couple errors with his script as I have logged on his repo. Let me know if it works for you.

[2019-12-25 11:27] leifliddy commented on #29
@mfauvain I've rewrote the install script so that it now auto-patches ```hci_bcm.c``` and should now work for any kernel version. If you run into any issues, please create an issue under this repo and we'll continue the discussion there.

[2019-12-26 13:44] mfauvain commented on #29
Thx vmuch, patch works perfect.

[2019-12-28 06:51] MrAsimov commented on #47
I can confirm this worked as well for me with MBP 13.2 with Linux Mint 19.3 and kernel version 5.4.6.

[code]

[2019-12-28 17:47] victorleungtw commented on #29
Thank you @leifliddy! I just run the ./install.bluetooth.driver.sh script and it works in my Macbook Pro 13,1

[2019-12-30 20:20] yurnam commented on #112
similar issue with mbp 15,4   it uses a BCM4377 with a device id: 4488 can't find anything
attempted to implement it like in https://mrarm.io/u/Paste%202019-07-26%2012-30-16.txt but with 4488 instead of 4464 & 4377 instead of 4364, copied the trx, clmb, and txt, from macOS but when i load the brcmfmac module this happens:

[code]
then my mac freezes and after a few seconds it restarts.
this only h

[2019-12-31 00:15] aunali1 commented on #112
@yurnam The patch that you are basing your changes on is incomplete as it does not include the rambase address [diff](https://github.com/aunali1/linux-mbp-arch/blob/master/wifi.patch#L4).

Since this a new chip variant, we can potentially determine the rambase by enabling some more debug info. Please post the dmesg output with the additional kernel argument `brcmfmac.debug=2097150`. I'm particular

[2019-12-31 01:21] yurnam commented on #112
oh sorry, I was using the patch which includes the rambase address 0x160000
i used this address also for the 4377 chip, which was probably a bad idea.
if i change or remove it, the mac doesnt freeze anymore.

anyway i made a PR to your repo with the mbp15,4 dumps
thank you!

[2019-12-31 12:06] AndreasAZiegler commented on #71
Thanks for progress made running Linux on MacBookPro15,1 with all these contributions. I'm now running Arch Linux on my MacBookPro. The following points give me still some troubles:
* On every start I need to restart the NetworkManager ```sudo systemctl restart NetworkManager``` in order to have WiFi working
* I had to install ```gnome-keyring``` to get WiFi with passwords working
* I have the amd

[2019-12-31 12:52] TRPB commented on #71
I don't know what DE you are using but you are better off using display scaling or increasing the font DPI than running a non-native resolution.

[2019-12-31 13:10] AndreasAZiegler commented on #71
I'm using the awesome window manager as "temporary" solution I set ```Xft.dpi:120``` in ~/.Xresources and ```xrdb -merge ~/.Xresources``` in ~/.xinitrc

[2019-12-31 20:16] yoeldovidcohen commented on #118
I have a 15.3 macbook pro.
Some live usbs boot without recognizing either the hard drive or the keyboard and mouse
With an arch with a different kernel it douse recoginze it

[2020-01-01 00:13] aunali1 commented on #112
@yurnam Hmm, it seems that the rambase address needs to be found through trial and error. Can you please test through the rambase addresses in [this](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/drivers/net/wireless/broadcom/brcm80211/brcmfmac/chip.c?h=v5.4.7#n666) switch case (0x160000 is already known not to work).

[2020-01-01 00:36] yurnam commented on #112
tried all of them output looks always like this:

[code]

[2020-01-02 19:41] Meetem commented on #108
I'am having MBP 14,3 too, but just using 5.3.0-26 kernel is not working with sound (although wifi is working fine after setting TX Power to 10 (there is a guide how to do that).

Sound is not working on my machine at all. Only bluetooth headset is working. I'am newbie to linux, but can provide some help with testing on real machine too.
MBP 2017 14,3 Radeon Pro 560
Ubuntu 19.10 5.3.0-26 kernel

Fe

[2020-01-02 20:33] devalanche commented on #108
bro, I got speakers and jack working with this:
https://github.com/leifliddy/snd_hda_macbookpro
mic is still missing though...

[2020-01-02 21:23] Meetem commented on #108
@devalanche

Almost not working for me. Just tested and once after switching and clicking test Front Left is worked out with "Front Left" test voice sequence. Since this no music playing and audio test is not working too. Sad.
I can provide some logs if needed, but I don't know where they are

[2020-01-03 18:27] devalanche commented on #108
you could try to reinstall the original kernel modules if you had tried to modify some in the past and then apply the patch.
Alternatively you could to try the patch on a fresh installation on another partition/had or smth.
That way you could ensure if the driver is correctly installed and see if it does a better job

[2020-01-03 21:00] davidjo commented on #108
@Meetem so are you saying you have sound working with the leifliddy snd_hda_macbookpro (which   is based on my updates from October)?
As I understand the 14,3 it has 4 speakers 2 on each side - but I was unable to find any suggestion the 8409 HDA/ MAX amps are doing any signal processing - as the OSX driver has items suggesting some DSP operations are being done what I guess is that in creating th

[2020-01-04 09:37] Meetem commented on #108
@davidjo yes, it's working. May be sound quality correlates with the fact that only "Front Left" test sound sequence is working, rear ones and front right doesn't produce any sound. But both left and right speakers are working when sound is played by some applications (of course you can't tweak left-right front-rear balance).
I can try some bass-boosting plugins, but not sure will it work if OS is

[2020-01-04 10:11] Meetem commented on #108
@davidjo bass-boosting doesn't helps, while bass is heard from left-right speakers it doesn't "feel" like it should. No vibrations at all, there is subwoofer for sure, and it's not working (also I can test it easily cause I have some coarse dust in it)

[2020-01-04 11:43] marc-git commented on #108
would be great if we had an apple contact who would just tell us.  Is this plugin 'safe' in the sense of not blowing out the speakers yet?

[2020-01-04 11:53] Meetem commented on #108
@marc-git since bass-boosting doesn't work right, cause doesn't using subwoofer that doesn't matter. And if you are trying to use it _on linux_ you should know what are you doing, safety is on you now.

[2020-01-06 20:21] jiegec opened #131 "BCM43602 is working with MBP14,3 now"
The bug [193121](https://bugzilla.kernel.org/show_bug.cgi?id=193121#c52) has a new solution for firmware issues. It works in my MBP 14,3 now and seems to be a better solution than hacking the fields of binary blob.

[2020-01-06 20:47] yurnam commented on #112
is there any other way finding out what to do;

just trying to bruteforce the rambase address doesn't seem to help

[2020-01-07 07:42] jvcdk commented on #29
@leifliddy Would you happen to know whether this patch is on it's way in to kernel mainline, or ...?

[2020-01-07 19:17] ktb92677 commented on #112
I am having trouble getting my Macbook Air 8,2 to get wifi. Here is what I did:

From MacOS:
ioreg -l | grep RequestedFiles
C-4355__s-C1/hawaii.trx, C-4355__s-C1/hawaii-X0.clmb, C-4355__s-C1/P-hawaii-X0_M-YSBC_V-u__m-4.3.txt

... So I copied these files and I installed fedora.

From Fedora:

I pasted these files as such:

C-4355__s-C1/hawaii.trx -> /lib/firmware/brcm/brcmfmac4355-pcie.bin
C-4355__

[2020-01-07 23:11] ktb92677 commented on #112
Hey @jhohisel you seemed to have success getting the wifi drivers working on a MacBookAir8,2. Any chance you can see anything I am doing wrong with my configuration?

[2020-01-08 04:23] leifliddy commented on #29
@jvcdk
The current patch isn't a real solution to this issue and is not likely to get mainlined.
REF the following comment for a better description of this issue.
https://github.com/Dunedan/mbp-2016-linux/issues/29#issuecomment-487259077

Basically, we just need a better (proper) solution to this problem.

[2020-01-08 14:19] TRPB commented on #71
@aunali1  did you manually merge the suspend and master branches of the bridge driver when you built the module in your repo? I am suddenly able to suspend and have audio.

[2020-01-09 12:36] risen commented on #29
@leifliddy and it seems to not work on my MBP14,1. I'm starting to wonder if there's a firmware or nvram issue with mine… It _used_ to work in the 4.16 days.

[2020-01-09 15:47] ktb92677 commented on #112
Quick follow up, wanted to also include @ppaulweber into this conversation as you also seemed to have success at loading brcmfmac4355 successfully. Any chance you can think of what I am doing wrong? Also take a look at this thread: https://github.com/mikeeq/mbp-fedora-kernel/issues/3#issuecomment-572193109

[2020-01-09 15:47] ktb92677 commented on #112
Quick follow up, wanted to also include @ppaulweber into this conversation as you also seemed to have success at loading brcmfmac4355 successfully. Any chance you can think of what I am doing wrong? Also take a look at this thread: https://github.com/mikeeq/mbp-fedora-kernel/issues/3#issuecomment-572193109

[2020-01-11 18:51] ktb92677 commented on #112
Hey @aunali1 I think it might be time to remove the check mark from MacBookAir8,y... I don't think it is loading properly at this point and the only person who claims to have gotten it to work properly has seemingly disappeared. @jhohisel

[2020-01-11 19:38] aunali1 commented on #112
@ktb92677 Can you try using my kernel patches to see if that makes a difference? I also have lingering suspicions that certain revised models have entirely different FW (Ex. 15,1 2018 uses `kauai` whereas 15,1 2019 uses `midway`). Not exactly sure how to proceed, we might have to add functionality found in Apple's BCMWLAN driver that is not present in `brcmfmac`.

[2020-01-11 20:12] ktb92677 commented on #112
@aunali1 Is this the patch you are referring to? https://github.com/aunali1/linux-mbp-arch/blob/master/wifi.patch Because if so it is nearly identical to the patch I am already using: https://github.com/mikeeq/mbp-fedora-kernel/blob/v5.4-f31/patches/wifi.patch

[2020-01-12 17:02] aunali1 commented on #112
@yurnam Others have had success using the firmware archive from macOS Mojave I have hosted here: [https://packages.aunali1.com/apple/wifi-fw/18G2022](https://packages.aunali1.com/apple/wifi-fw/18G2022)

[2020-01-12 17:06] yurnam commented on #112
Cool, thanks, I'll try this now :)

[2020-01-12 18:19] yurnam commented on #112
Sadly, no luck with the FW from Mojave.
but with rambase 0x160000 i don't get a system freeze anymore, just a
FW failed to initalize like before.

same with all the rambase addresses (0x160000, 0x180000, 0x198000, 0x200000)

[2020-01-13 11:17] yurnam commented on #112
Update:
With Rambase address 0x170000 I get:
`# modprobe brcmfmac
$ dmesg -w

[  237.522523] cfg80211: Loading compiled-in X.509 certificates for regulatory database
[  237.522689] cfg80211: Loaded X.509 cert 'sforshee: 00b28ddf47aef9cea7'
[  237.545236] brcmfmac: brcmfmac_module_init No platform data available.
[  237.545247] brcmfmac: brcmf_usb_register Enter
[  237.545265] usbcore: registered n

[2020-01-13 19:11] leifliddy commented on #29
I could use a few more details about your system. What kernel are you running now?

that's  pretty much matches what's in my dmesg log
[code]

a bluetooth failure would look like this:
[code]

Are you sure bluetooth isn't working?
Can you post the output of the following commands?
[code]

[2020-01-13 20:49] leifliddy commented on #99
@marbetschar
Since, we had this discussion, I've developed better techniques for compiling and installing a modified ```hci_uart.ko```

For example, you don't have to overwrite the original module, you can just put an updated version of  ```hci_uart.ko``` in ```/lib/modules/$(uname -r)/updates```, and it will supersede the original module.
I've also created an install method in the ```Makefile```

[2020-01-14 10:55] risen commented on #29
@leifliddy okay, that was the hint I needed. Turns out the patch **does** work on my MBP14,1.

Gnome's Bluetooth Settings claimed there was no bluetooth device/dongle found, but it turns out this was due to the lack of CONFIG_RFKILL=y in my kernel config. `bluetoothctl` was actually working with the patch, I just never checked it directly (while using the patch).

Sorry for the noise!

[2020-01-16 18:22] TRPB commented on #71
I just upgraded to the latest packages from aunali's repo and now I have no keyboard or trackpad support at all.

I've reinstalled macbook12-spi-driver-dkms and all the packages but nothing. The bridge driver (apple-bce) is working because I have wifi.

Any ideas what I might be missing?

[2020-01-16 19:37] MCMrARM commented on #71
bce has nothing to do with wifi, post dmesg?

[2020-01-16 19:58] TRPB commented on #71
Ah, I thought bce controlled wifi, sound and input.

Here's dmesg

[dmesg.log](https://github.com/Dunedan/mbp-2016-linux/files/4073508/dmesg.log)

and the output of `lsmod | grep apple` on boot

[code]

`apple_ibridge` isn't loaded. I can `modprobe` it but it doesn't have any effect.

[2020-01-16 20:15] aunali1 commented on #71
@TRPB 5.4.11 seems to have introduced a breaking change to the functionality of @MCMrARM's bce module. If u have version 5.4.10-3 still cached you can revert to that as a temporary fix, I'll be reverting the repo soon so a removal and reinstall of the kernel and driver should do the trick.

[2020-01-16 20:23] TRPB commented on #71
Unfortunately pacman gives me download errors from your repo (I think this is back: https://github.com/aunali1/linux-mbp-arch/issues/2 ) and I have just been manually grabbing the files with wget as I can increase the retries. I didn't think to keep them after installing them though.

[2020-01-16 20:26] aunali1 commented on #71
@TRPB Odd, I'll look into that. Regarding previous releases, everything is mirrored on the github repo's releases so you can pull previous versions from there.

[2020-01-18 03:43] imbushuo commented on #71
@MCMrARM Not sure if I am late, but I highly doubt SMC is emulated inside the T2 bridgeOS portion (with some kext and userland applications) instead of SEP.

[2020-01-19 02:05] niem94 opened #132 "Discussion of support for MacBookPro16,1?"
Hi I wanted to post this, to have a place to keep track of macbookpro16,1 support. I've tried Ubuntu 19.10 and It does boot, but the SSD is not recognised.

[2020-01-19 07:03] Dunedan commented on #132
As the general discussion thread for the MacBookPro15,1 and 15,2 turned into a total mess with hundreds of comments which make it very difficult to find information in there, please open component specific issues (e.g. one for the SSD-supporti n the MacBookPro16,1), so it's possible to have more focused discussions. For general discussion there is a Gitter chat available: https://gitter.im/mbp-201

[2020-01-19 07:03] #132 closed

[2020-01-20 10:45] renatolfc commented on #6
@roadrunner2 for the past couple of days, I've been testing the following approach:
 1- Blacklist the `amdgpu` module, as suggested by @arno01
 2- Manually loading the `amdgpu` module so that I can turn the GPU off prior to starting X
 I've written the following systemd unit, which seems to be working fine so far:

[code]

Turning the DGPU back on will cause an X restart, but apart from that, it s

[2020-01-20 17:54] 07151129 opened #133 "Apple NVMe low-power self-refresh mode"
Some Apple NVMe controllers support low-power self-refresh mode, LPSR. The following information describes the usage of LPSR by IONVMeFamily. Note that it is not derived from any Apple documentation and may be inaccurate. In addition to LPSR, there's also QoS with power budgets features, which is not considered here.

ACPI property "nvme-self-refresh" for the PCI controller indicates whether LPSR

[2020-01-20 22:51] MCMrARM commented on #71
@imbushuo it's in the SEP

[2020-01-21 06:05] leifliddy commented on #133
There was some discussion regarding LPSR and how it was needed to put the NVMecontroller in sleep mode. However, no solution was ever found. It's believed that this is the reason that suspend/resume does not work on the macbook 12-inch models (8,1 + 9,1 and 10,1)

https://github.com/cb22/macbook12-spi-driver/pull/2
https://github.com/Dunedan/mbp-2016-linux/issues/133

[2020-01-21 12:40] 07151129 commented on #133
@leifliddy you're right about feature 0xcc being issued before shutdown, but it is only needed for S3X.

[2020-01-22 10:37] roadrunner2 commented on #6
@renatolfc Interesting: this allows you to disable the dGPU before logging in? I'll play around with blacklisting amdgpu and later loading it explictly then.

As far as your backlight issues go, that's really weird - both backlights have a full range for me. What do your `max_brightness` levels look like?
[code]
Assuming they're larger than 1, what happens when you write values manually to the `br

[2020-01-22 14:25] renatolfc commented on #6
@roadrunner2, that's correct. Right after logging into X, these are the contents of `/sys/kernel/debug/vgaswitcheroo/switch`:

[code]

The key in the unit file above is the entry `Before=display-manager.service`, which makes sure this gets executed before the display manager is loaded (in my case, XDM). In case it helps, `dmesg | grep amdgpu` gives this:

[code]

So, the GPU module is loaded and t

[2020-01-22 15:53] andy-shev commented on #9
Are you going to submit this upstream?

[2020-01-25 01:55] mfauvain commented on #29
@leifliddy patch works great, in A2DP mode sound is perfect, however in HSP/HFP sound is very bad. When using a bluetooth dongle sound is fine in both modes. Any reason for this?

[2020-01-25 08:02] npx001 commented on #9
no idea yet,
but will be nice if more users confirm
this patch work for them before
submitting anything

[2020-01-25 08:09] leifliddy commented on #9
@npx001 I'm just curious. What macbook model do you have?

[2020-01-27 06:56] marc-git opened #134 "German Keyboard swapped ^ and < keys"
Anybody have a fix for this? Is there an existing profile? I tried changing the layout from default 105 to Apple Aluminium ISO, also tried changing the variant to German (Macintosh). Something I am missing?

[2020-01-27 07:32] marc-git commented on #134
some info found here : https://wiki.debian.org/MacBook#Keyboard

[2020-01-27 08:42] christophgysin commented on #134
Try setting the driver to use the ISO layout:

[code]

If that fixes it, you can make it permanent by setting the module parameter in:

[code]

[2020-01-27 16:02] andy-shev commented on #9
Here we are:
https://gist.github.com/andy-shev/469aef8dfcd8f5605cb8992cf5958769

File: mac-nvme-0x2001-disk-image.bin

Simple `dd if=mac-nvme-0x2001-disk-image.bin of=/dev/sdX bs=1M && sync`, where `/dev/sdX` is a USB stick (or any other tool for non-UNIX OSes that imitates `dd`, like `rawrite` or zillion of GUI variants).

[2020-01-28 04:46] mflor35 commented on #37
Thinks work smoothly Ubuntu 20.04 Nightly

`5.4.0-9-generic #12-Ubuntu SMP Mon Dec 16 22:34:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2020-01-28 08:46] darkermatter commented on #37
Which model?

[2020-01-31 22:09] MCMrARM commented on #71
Fixed the 5.4.15 compat issue in the BCE driver, apparently I misunderstood what address_device is for and after they fixed the new_scheme formula it broke my driver as it stubbed it.

[2020-02-01 07:55] Dunedan commented on #118
@YungRaj: What's your status with this. So far this issue doesn't provide much benefit.

[2020-02-04 09:05] MyopicPaideia commented on #29
Unfortunately not having success on Macbook Pro 13,1 running latest Manjaro release:

I got an error in @leifliddy 's script right at the end:
[code]
Lines 59 & 60:
[code]
Am I missing a required package or something? (Sorry new to Linux, not new to computers)

Here is my system information

uname -a
[code]
rfkill list all
[code]
sudo systemctl status bluetooth.service
[code]
bluetoothctl list pro

[2020-02-04 09:14] christophgysin commented on #29
@MyopicPaideia

Try installing `base-devel`. It contains `make` and other essential tools for building source code.

[2020-02-04 09:36] MyopicPaideia commented on #29
Thank you for the quick reply, @christophgysin !

At least getting further in now...getting these make errors at the end of the script:
[code]

[2020-02-04 09:52] christophgysin commented on #29
Looks like you also need to install kernel headers: `pacman -S linux54-headers`

[2020-02-04 10:10] MyopicPaideia commented on #29
@christophgysin you are the man! My bad for not installing the kernal headers package in the first place as instructed originally by @leifliddy in his README. As there were no ARCHLinux instructions I stupidly ignored that part.

So for ARCH we do:

`pacman -S base-devel`

and,
`pacman -S linux54-headers` _(or whichever kernal you are on)_

With all the correct packages installed, the script works

[2020-02-04 10:20] MyopicPaideia commented on #29
Ok - looks like you have just walked me through @leifliddy's first two steps in his README file. Sorry for that. I just skipped over that as there were no instructions for Arch Linux.

So for Arch you do
`pacman -S base-devel`
and
`pacman -S linux54-headers`

After that the script works perfectly, and bluetooth is up and running on this MacBook Pro 13,1 running Manjaro 18.1.5!

Thank you very much

[2020-02-04 12:32] leifliddy commented on #133
@07151129 I'm not a kernel developer and don't know enough about acpi or nvme to know to implement that. There is however, a lot of interest in getting resume/suspend working on the
Macbook 12 inch models: 8,1 + 9,1 + 10,1 and Macbook Pro models: 13,1 and 14,1
It sounds like this nvme LPSR problem is at the heart of the issue.

[2020-02-04 17:42] Dunedan commented on #29
Please don't use this thread to discuss Linux distribution specific issues. This issue is about upstreaming Bluetooth support (as well as the whole project is about upstreaming hardware support).
If you want to discuss distribution specific topics I suggest you either use a discussion medium provided by the distribution in question or use the Gitter chat for that: https://gitter.im/mbp-2016-linux/

[2020-02-04 23:07] leifliddy commented on #9
Yeah, there was a typo in my previous post. I've just updated it.
@john-morton you can patch + compile + install the```nvme``` module (which would override the stock nvme kernel module)
You don't need to compile an entire kernel for that part.
You only need to compile an entire kernel if you're modifying a built-in module
ie
[code]

[2020-02-08 02:17] awkimball opened #136 "MacbookPro14,1 Audio working with workaround"
github user leifliddy's fix worked for me on 14,1: [snd_hda_macbookpro patch](https://github.com/leifliddy/snd_hda_macbookpro)

Arch Linux
Kernel 5.5.2

Volume even works with hardware buttons using KDE Plasma and plasma-pa package on Arch.

[2020-02-09 03:18] tawheedmanzoor commented on #47
I can confirm working on 13,2 Ubuntu 19.10.

For me 2.4 GHz worked even without this file if I used it with open networks (even Xfinity in the US).

[2020-02-17 13:57] alexanderroidlhhs commented on #136
works for me as well

[2020-02-17 14:53] aranega commented on #136
@awkimball How did you compile it under Arch? The `install.cirrus.driver.sh` doesn't work out of the box.

[2020-02-17 14:56] alexanderroidlhhs commented on #136
@aranega did you install all the dependencies, maybe you can provide a log / error message?

[2020-02-17 15:27] aranega commented on #136
@alexanderroidlhhs Thanks for the answer! The issue is not located in the compilation process (I had to modify the source like it has been proposed here https://github.com/leifliddy/snd_hda_macbookpro/pull/1/files), but the deployment process doesn't work as intended because the `/lib/modules/xxxx/updates` folder doesn't exist on my system. As the deployment script had been written for Ubuntu/Fedo

[2020-02-17 16:55] awkimball commented on #136
@aranega I had to make sure to install the Arch package `linux-headers` because the README doesn't have instructions for Arch: `pacman -S make wget gcc linux-headers` and then the install script worked for me

[2020-02-17 17:02] aranega commented on #136
@awkimball Strange, I already have those packages installed on my system. Did you run the script as root? (well probably for the deployment part, but I was unsure about the `/lib/modules/xxxxx/updates`). I will try as root then.

[2020-02-17 17:04] awkimball commented on #136
@aranega I believe I did run it as root. I think for any directories that didn't exist I manually created them and re-ran the script.

[2020-02-17 17:05] leifliddy commented on #136
[code]
If you look at the install script, it will create ```/lib/modules/$(uname -r)/updates``` if it doesn't exist.
You'll need to run ```install.cirrus.driver.sh``` as ```root``` or with ```sudo```

[2020-02-17 17:09] aranega commented on #136
@awkimball @leifliddy ... I totally missed that in the script... I was not feeling secure to run the script as root... Thanks a lot!

[2020-02-19 18:10] fiowro commented on #136
@awkimball @aranega  do you have stereo sound? I have the same distro and the same mbp model, and I've used the same installation script - but there is something wrong with channels in my case. When I check sound in gnome-control-center, the "front left" button gives me sound from the right speaker, and when I click any other buttons ("front right", etc.) I get no sound.

So, is your stereo ok? An

[2020-02-20 07:09] aranega commented on #136
@fiowro On my side, I did nothing more. I use pulsemixer, don't know if this could simply come from the tool.

[2020-02-23 05:43] leifliddy commented on #29
Something changed w/ kernel 5.5.x
The bluetooth controller isn't coming up.
`hci_uart` doesn't load at boot time because no serial ports are registered.

*kernel 5.5.x*
[code]

*kernel 5.4.x*
[code]
I'm not sure what changed, possibly something w/ the serdev or the 8250 driver....

[2020-02-23 08:00] roadrunner2 commented on #29
[commit 33364d63c75d](https://github.com/torvalds/linux/commit/33364d63c75d6182fa369cea80315cf1bb0ee38e) is the cause for the breakage in 5.5. I've already [submitted a patch](https://lore.kernel.org/linux-serial/20200211194723.486217-1-ronald@innovation.ch/T/#u) - however, it looks like the kernel devs want more extensive cleanups first, and I don't know how long it'll take me to A) understand ex

[2020-02-24 08:52] roadrunner2 commented on #134
To make the change permanent, I think you really want this:
[code]

[2020-02-24 11:47] vvne commented on #71
Hi, thanks for the great work done here, I can now install arch on my mba2019.
BCE driver from MCMrARM plus keyboard, touchpad, hid_apple and wifi patches against kernel 5.5.4 do the job.
As many, I had to add pci_ports=compat parameter to fix slow resume issue and to avoid random boot hangs.

Not working now: bluetooth and built in speakers.
Regarding the sound, earphones are OK (codec-output), b

[2020-02-24 12:06] M4VG commented on #71
Hi all, sorry for barging in. This is some amazing work, congratulations! I see there's an Arch distro available with the updated kernel but I really need to use Ubuntu 16.04. How would I implement your solution with Ubuntu? Does anyone already have this distro running with the updated kernel? I have a MacBook Pro 15,2. Thank you!

[2020-02-24 13:44] marc-git commented on #134
I actually have no applespi.conf file there. Should I?

[2020-02-24 14:11] Dunedan commented on #134
The name of the configuration file doesn't matter. What matters is that you apply the `iso_layout=1` option for the `applespi` driver as noted by @roadrunner2 and **not** to the `hid_apple` driver as noted by @christophgysin, if you're running a MacBook Pro with the keyboard attached via SPI.

[2020-02-24 14:19] christophgysin commented on #134
Correct, my mistake. I actually have them both, hid_apple is used for external USB apple keyboards.

[2020-02-26 19:59] awkimball commented on #136
@fiowro I have the same issues with the sound test on Plasma using the plasma-pa package for pulse audio integration. I'll try test now with pure L and R signals to see if my stereo is working regardless of the sound test and I'll update this comment with the results. Again, I'm on Arch & linux 5.5.2 running KDE Plasma on a MBP 14,1.

[2020-02-28 16:01] vvne commented on #71
Hi,
Here is an update for my "linux on mba quest log", using mostly gnome on arch:

- Speakers are actually working. I just removed config files /usr/share/alsa/cards/AppleT2.conf, /usr/lib/udev/rules.d/91-pulseaudio.rules and /usr/share/pulseaudio/alsa-mixer/profiles-sets/apple-t2.conf and default audio is now internal speakers. I guess correct config would make earphones working too...

- theref

[2020-02-29 16:58] leifliddy commented on #29
I'm glad you're on top of this : ) It sucks that the root of this issue is Apple's non-conformance to established standards. It looks like Andy's patch will establish the framework for adding these sort of quirks in a non-intrusive way. Hopefully, it gets accepted...

[2020-03-04 11:22] mzanetti opened #139 "WiFi on 14,3"
Hey, just wanted to let you know that *finally* WiFi on the 14,3 seems to work very reliably for me by following the latest instructions on the linked bugzilla ticket.

Just to be clear, I had tried all the things with redducing txpower, modifying the binary firmware and while those things would have an effect, none of them made it actually working good enough for a daily usage except the latest o

[2020-03-05 19:42] marc-git commented on #139
I thought this issue existed already somewhere and was closed.  For info, I did not update the macaddr, i don't think it is used. It works fine for me. Also confused about regrev because I have no problems and did not change anything there.

The main thing that is confusing me is that although a loooot of people report great results with this, the main page says:

Which does not really reflect the

[2020-03-05 20:51] thomasjenkins commented on #112
On my 15,2 wifi spins forever looking for networks unless I boot with wifi off in network-manager, connect to my phone for internet using bluetooth, then enable wifi. Once I've connected once to the phone the list of wifi networks to connect to is populated normally and connecting is no problem.

[2020-03-12 23:38] roadrunner2 commented on #29
The patch has made its way into 5.5.9 and 5.6-rc5 now, so your distro's next kernel update should get bluetooth working again.

[2020-03-13 14:59] marc-git commented on #139
Powertop shows around 14W of power to the Wifi when I am just idling. Any ideas what can be edited to reduce power consumption in that text file?
iwconfig power settings return` SET failed on device`

[2020-03-15 00:32] AnilRedshift commented on #127
I have so far been unable to get any live usb to boot on a 2018 MBP running Catalina. Currently have tried Fedora, Mint, and Ubuntu.

[2020-03-15 18:10] lelik76 opened #140 "NVME on Macbook16,1"
I'm trying to install ubuntu on a Macbook pro. I can't get even the first step - nvme is not visible at all. Kernel 5.3. So much for "all models working"...

Apple Inc. MacBookPro16,1/Mac-E1008331FDC96864, BIOS 1037.80.53.0.0 (iBridge: 17.16.13050.0.0,0) 01/17/2020

root@ubuntu:/home/ubuntu# lspci -nn
04:00.0 Mass storage controller [0180]: Apple Inc. ANS2 NVMe Controller [106b:2005] (rev 01)

ech

[2020-03-15 18:26] sznaider commented on #140
I think you're gonna need a newer kernel version. Not sure which one exactly, but I myself have been able to see NVME (and install Arch) with kernel 5.5.x. You may be interested in this repository https://github.com/aunali1/linux-mbp-arch, although it's for Arch, not Ubuntu.

[2020-03-21 20:16] lelik76 commented on #140
Thanks a lot for the pointers! I've made some progress, here is the summary if anyoune wants to go this way:

Support for 2005 nvme pci dev was added in 5.4, but that kernel crashes early in boot phase. Stock 5.5.10 "works"! Important part from your link - one has to boot with "nomodeset"  arg.
So I've took Ubuntu 18.4 LTS iso, fused the 5.5 kernel with JLiveCD and got a bootable livecd with gui a

[2020-03-29 14:12] vamsi360 commented on #71
Hi,
Noob question: Are the patches stable and can be mainlined upstream?

[2020-03-30 17:39] solna86 opened #141 "MacBook Air 2020"
Thanks for a great project. I was considering to buy a MacBook Air 2020 to run Linux, which will be in stock here in a few weeks time and help getting it supported under Linux.

Shall I expect to encounter the same audio roadblock present in other models? You have some dumps from MacBookAir8,1 but no reports on what works / what is missing. Somewhere, you state it has the same internal architectur

[2020-03-30 18:52] Dunedan commented on #141
Help in getting new hardware supported is highly appreciated. :+1:

You should expect the same if not more hardware incompatibilities for now as for the existing models. While it's probably similar to the existing models, nobody knows yet if and what Apple changed for this new model.

To avoid such messy Github issues as #71 with hundreds of comments, I'm going to close this issue now. However ple

[2020-03-30 18:52] #141 closed

[2020-04-01 17:36] MyopicPaideia commented on #29
Hello again, gents - have done a reinstall and just tried to install this patch again, on my 2016 13,1 machine, it gave the same make error:
[code]
Here is my relevant dmesg:
[code]
I have all the latest headers, and am on 5.5.13-arch2-1

Sorry to beat a dead horse if I'm being an idiot.

[2020-04-01 17:39] leifliddy commented on #29
you have to create the ```updates``` directory
```mkdir $(uname -r)/updates```

[2020-04-02 05:48] MyopicPaideia commented on #29
Ok, but my path has arch2-1. not arch1-1:

`/lib/modules/5.5.13-arch2-1`

Should I just create the arch1-1 path that the script wants or does the script need tweaking to point to the arch2-1 directory?

[2020-04-02 06:07] leifliddy commented on #29
It should match whatever is in your ```Makefile```
You can clearly see in your output that it's trying to copy the module to ```/lib/modules/5.5.13-arch1-1/updates``` which doesn't exist.
[code]
How is your ```Makefile``` determining that location?

[2020-04-02 06:11] MyopicPaideia commented on #29
If I am determining your script correctly:
[code]

[2020-04-02 06:19] leifliddy commented on #29
That's not the ```Makefile```, you should be able to find it, it's a file called ```Makefile```

[2020-04-02 06:26] MyopicPaideia commented on #29
Ok, this is getting weird now.

**[dlg@gnuMBP131 bluetooth-5.5.13]$ cat Makefile**
[code]
But - this:

**uname -r**
`5.5.13-arch1-1`

So why don't I have something else in my /lib/modules ??

[2020-04-02 06:34] leifliddy commented on #29
Normally ```uname -r``` corresponds to your kernel-release version. I've never used arch linux before, maybe there's some non-standard stuff going on. You might have to modify the install script and the Makefile to suit the naming conventions used by your distribution.

[2020-04-02 06:36] darkermatter commented on #29
Looks to me like he installed a new kernel and didn't boot it.

[2020-04-02 06:38] MyopicPaideia commented on #29
Ok, I will look into it. Thanks for your time and help.

Here's the latest linux headers:
[https://www.archlinux.org/packages/core/x86_64/linux-headers/](headers)

@darkermatter - you may be a genius for pointing out an obvious possibility! Be right back...

[2020-04-02 06:57] MyopicPaideia commented on #29
So @darkermatter was absolutely correct, I had not rebooted after updating my system yesterday - stupid not to have rebooted after the update.

However I am now back to where I originally was:
[code]
Last time this was because I didn't have all the header packages installed. This time it appears I do.

Someone please tell me if I should move this issue to another spot, as this appears to be just a

[2020-04-02 07:04] MyopicPaideia commented on #29
....and it worked....

Thank you @darkermatter for your quick but insightful contribution, and thank you @leifliddy for helping.

For future reference, should I be bringing script error messages somewhere else for help? It seems like this was just a discussion about how to get the script to run on my particular setup...

[2020-04-03 02:54] comport3 commented on #136
Hmm, I had this working yesterday on Ubuntu 18.04 (and derivative Linux Mint 19.3) yet today after installing Ubuntu 20.04 it doesn't work at all. Are there any debug logs to review to determine the cause? syslog, dmesg, any others ?

[2020-04-08 12:03] jbg commented on #111
With the driver from latest git and the config files linked above, launching pulseaudio fails on my MBP15,2 with:

[code]

[2020-04-08 12:34] jbg commented on #111
Disabling realtime scheduling in pulseaudio fixes the above. It appears that with this driver, pulseaudio spends too much time in realtime blocks and gets killed.

[2020-04-09 19:31] svenper commented on #47
I have a `MacBookPro12,1` with <code>BCM43602 [14e4:43ba] <b>(rev 01)</b></code>. Should I expect this to enable 5 GHz for me?

[2020-04-12 21:13] mfvianna commented on #71
Any news on Touch bar support for MacbookPro15,2?  I have one from 2019.

I've made everything to work from keyboard, sensors, and sound to WiFi with the kernel patches from [](https://github.com/aunali1/linux-mbp-arch) and the BCE driver from [](https://github.com/MCMrARM/mbp2018-bridge-drv).
No need to use the SPI driver from [](https://github.com/roadrunner2/macbook12-spi-driver) to make any of

[2020-04-15 01:10] awkimball commented on #136
@comport3 did you reinstall the patch after installing 20.04? A major version update of a distro would overwrite this patch, meaning you would need to re-patch.

[2020-04-20 20:43] cristianmiranda commented on #111
Hi guys, you're doing a great job @MCMrARM !
I have a quick question, I'm running Ubuntu on a MacbookPro 2017 (no T2 chip), would this approach work for me? Can i try https://github.com/MCMrARM/mbp2018-bridge-drv ?
Thanks!

[2020-04-21 02:58] leifliddy commented on #111
Have you tried this repo yet?
https://github.com/MCMrARM/mbp2018-bridge-drv

I would just add add an ```install``` command to that ```Makefile```
ie
[code]
**the lines under ```all: clean: and install:``` need to be indented with a ```tab```
then just run, ```make``` + ```make install``` + ```reboot```
Give that a shot and see if it works.

[2020-04-21 22:57] joker5bb commented on #112
Hello,

I have the
03:00.0 Network controller [0280]: Broadcom Inc. and subsidiaries BCM4360 802.11ac Wireless Network Adapter [14e4:43a0] (rev 03)

What are the exact macOS instructions to extract firmware and make it a bin file?

[2020-04-23 22:30] joker5bb commented on #112
[code]

[2020-04-25 23:10] cristianmiranda commented on #6
Hi guys! Thank you for the amazing job documenting everything you've tried, very helpful! :smile:
I was able to get Intel integrated GPU powered on, blacklist `amdgpu` and run `gpu-switch -i`

The problem is that dGPU (ATI Radeon) is still powered and consuming A LOT of resources. I've seen you mentioned that the card should be loaded and powered off. So I did: `sudo modprobe amdgpu`, and for turn

[2020-04-26 08:52] npx001 commented on #112
about bcm4377 - looking "inside" apple driver.. is almost identical as bcm4357
if something has to be patched/modded should be around linux driver for 4357 i.e  "brcmsmac"

[2020-04-29 03:29] cristianmiranda commented on #47
Hi, I have a MacBook Pro mid 2016 with touchbar, internet works fine after applying this fix: https://bugzilla.kernel.org/show_bug.cgi?id=193121#c62
The only problem I currently have is that (at least with Ubuntu 20.04 and Manjaro 19), wifi won't reconnect to previous connected networks after sleep (suspend). Have anyone experienced the same issue?

[2020-04-29 06:19] dmarinuswoodwing opened #142 "Built-in display doesn't work with AMDGPU on Linux 5.6 Macbook (MacBookPro13,3)"
When I update to the latest kernel (5.6.6) using Fedora 31 my built-in display shows a (backlighted) black screen.

Could someone please share their experience with a AMDGPU Macbook and linux-5.6?

[2020-04-29 17:06] roadrunner2 commented on #142
Yes, the amdgpu driver apparently got broken in the 5.6 kernel - I noticed because the `/sys/kernel/debug/vgaswitcheroo/switch` entry is missing (which means only the iGPU is being registered - the entry only shows up if there are at least 2 GPU's registered) and therefore I can't power down the dGPU anymore. (Note that I boot with the iGPU enabled and active, so the system would still be usable,

[2020-04-29 17:20] roadrunner2 commented on #6
[snip]

This won't work - the GPU needs to be properly powered down by the driver. Why don't you have vgaswitcheroo? Because that's what you need, and without it you can't power down the dGPU properly. If you don't have vgaswitcheroo because you're running kernel 5.6, then downgrade to kernel 5.5.

Right: when powered on, the GPU is completely on with all clocks at max; when initializing, the driv

[2020-04-29 17:42] cristianmiranda commented on #6
Hey @roadrunner2, thanks for stepping by!
Yes, I'm on 5.6, but I'm not 100% sure if 5.5 has vgaswitcheroo, I have another machine with 5.4 and cannot see it:
[code]
I'll do some research on how to bring it back though. If anyone knows a way, please let me know.

[2020-04-29 17:55] cristianmiranda commented on #111
Hey, thanks! I haven't installed linux on my T2 macbook, but if I decide to do it I'll definitely check this out. Thanks again!

[2020-04-29 18:52] roadrunner2 commented on #6
Does the other machine have multiple (powered on) GPU's? vgaswitcheroo only appears once a second GPU is registered.

[2020-04-29 19:17] cristianmiranda commented on #6
Ah! That must be it then, it only has an integrated GPU. Good call.
Ok, then I'll rollback to 5.5 and see what happens. Is this something that we'll never be able to do on 5.6+ ?

[2020-04-30 19:38] MultiGiachi commented on #71
Can i ask you how you used the patches from linux-mbp-arch? I have a Macbook15,1 and I manage to make keyboard, touchbar, touchpad work, but with wifi I get nothing. In the settings on Wifi I get "No WiFi adapter found".

[2020-04-30 21:14] Bad-Mother-Fucker commented on #136
It's working for me too, i'm running kali 2020 on MBP 13'' 2017 no touchbar. Please update status.

[2020-05-01 07:02] fannullone commented on #142
I am facing same problem on fc31 after last dnf upgrade which installed kernel-5.6
I can open the bug, but please can you give me some directions as I have never done it before.
I can provide log and such to facilitate the fix

[2020-05-01 16:11] stefanpartheym commented on #71
@MultiGiachi You need the wifi driver files from your MacOS.
Use the following command in MacOS to retrieve the necessary driver files:
[code]
The wifi device name might differ on your Macbook, as I'm using MacbookPro15,2.
If you want to get super fancy, you could even convert the output from the command above to JSON like this:
[code]
The files listed in the output must be renamed accordingly and

[2020-05-01 21:06] MultiGiachi commented on #71
@stefanpartheym
First of all, thanks for the help.
For Macbook15,1 the Wifi device name is the same: C-4364.
I follow the steps, but Wifi is still not working.
ifconfig find an interface that I think it's the Wifi, but it shows up like an Ethernet interface and the MAC address, I think, it's completely random. Do you use iwd on Ubuntu or Arch?

[2020-05-01 21:13] stefanpartheym commented on #71
@MultiGiachi
Hmm, that seems odd. Yes, I use `iwd` on Arch in combination with `NetworkManager` (iwd configured as backend).
Did you use `iwctl` to try to connect to wifi?
Also make sure you restart the `iwd` service after installing the driver files: `sudo systemctl restart iwd`.
Also double check the driver file names of the files you copied to `/lib/firmware/brcm`. File names should be correct

[2020-05-05 15:51] MrAsimov commented on #142
@fannullone I have same issues, file a bug at https://bugzilla.kernel.org/enter_bug.cgi?product=Drivers and pin point to linux kernel 5.6.x (whatever 'uname -r' gives) for Laptop System: Apple product: MacBookPro13,3 and graphics vendor: Apple driver: amdgpu v: kernel bus ID: 01:00.0 chip ID: 1002:67ef etc

[2020-05-05 18:00] MrAsimov commented on #142
Linux kernel 5.7.0-050700rc3-generic

My eDP (builtin display) has no modes for 5.6+

xrandr --query | grep '\bconnected\b'

[code]

[2020-05-05 20:46] fannullone commented on #142
opened bug: https://bugzilla.kernel.org/show_bug.cgi?id=207589

[2020-05-06 19:18] meeuw commented on #142
I've also opened a bug for Fedora: https://bugzilla.redhat.com/show_bug.cgi?id=1829174

[2020-05-08 05:37] meeuw commented on #142
I've posted a question at amd-gfx@lists.freedesktop.org and got the following reply:
https://lists.freedesktop.org/archives/amd-gfx/2020-May/049363.html

So I'll try to do a bisect in the next days...

[2020-05-09 05:54] meeuw commented on #142
I've bisected the problem to:

b9f1246df179522bc28fda50b720553c845863db is the first bad commit
commit b9f1246df179522bc28fda50b720553c845863db
Author: Noah Abradjian <noah.abradjian@amd.com>
Date:   Fri Nov 22 16:07:24 2019 -0500

    drm/amd/display: Collapse resource arrays when pipe is disabled

    [Why]
    Currently, pipe resources are assigned to an index that matches the pipe position.

[2020-05-10 18:55] aunali1 commented on #142
You guys might have luck with [this](https://github.com/aunali1/linux-mbp-arch/blob/master/2001-drm-amd-display-Force-link_rate-as-LINK_RATE_RBR2.patch) patch. Its a quick and dirty hack to force all DPCD link rate values to whats expected by Retina panels. Currently, this will prevent externally attached displays from working.

[2020-05-10 19:00] meeuw commented on #142
Thanks I'll try that! Could you please report your findings at:
https://bugzilla.kernel.org/show_bug.cgi?id=207589

[2020-05-10 19:07] roadrunner2 commented on #6
@cristianmiranda Regarding `amdgpu` getting fixed on 5.6, you'll want to follow #142 and related kernel bug reports and discussions.

[2020-05-11 00:38] MrAsimov commented on #142
I have reported my findings with the bisected kernel commits between v5.5.0 and v5.6.0 at https://bugzilla.kernel.org/show_bug.cgi?id=207589 with the related Xorg and dmesg logs.

[2020-05-11 17:56] cristianmiranda commented on #6
Thank you, @roadrunner2 ! btw, I created a **guide** here: https://dev.to/cmiranda/linux-on-macbook-pro-2016-1onb summarizing all the steps I did in order to get this work. I'd love some feedback.
Thanks again for being so responsive on this subject! :heart:

[2020-05-11 18:00] cristianmiranda commented on #127
@AnilRedshift what MBP model do you have exactly. Here are some guides:
* https://github.com/mikeeq/mbp-fedora
* https://github.com/marcosfad/mbp-ubuntu
* https://gist.github.com/TRPB/437f663b545d23cc8a2073253c774be3
* https://geeks-world.github.io/articles/472106/index.html

[2020-05-12 13:25] MoonPadUSer commented on #112
@yurnam I have a MacBookPro15,4 too, and I am trying to get the WiFi to work, did you manage to make it work?

[2020-05-12 13:37] aunali1 commented on #112
@MoonPadUSer What kernel/distro are you testing?

[2020-05-12 13:40] MoonPadUSer commented on #112
I'm running your linux-mbp-arch kernel on Manjaro KDE 20.0

[2020-05-12 13:50] yurnam commented on #112
No, unfortunately not.

[2020-05-12 13:52] yurnam commented on #112
@MoonPadUSer
Unfortunately not. never got past this in dmesg:

[ 238.199167] brcmfmac: brcmf_add_if ==== pid:340, if:wlan%d (00:00:00:00:00:00) created ===
[ 238.199171] brcmfmac: brcmf_bus_change_state 0 -> 1
[ 238.199177] brcmfmac: brcmf_msgbuf_query_dcmd ifidx=0, cmd=262, len=20
[ 238.199181] brcmfmac: brcmf_pcie_ring_mb_write_wptr W w_ptr 17 (0), ring 0
[ 238.199184] brcmfmac: brcmf_pcie_ring_

[2020-05-12 13:54] aunali1 commented on #112
Can you pastebin/gist the full dmesg output?

[2020-05-12 13:56] MoonPadUSer commented on #112
@aunali1
https://pastebin.com/bqWZAk77

[2020-05-12 13:59] aunali1 commented on #112
@MoonPadUSer Unfortunately the kernel message ring buffer filled up and cut off the important bits. Please pastebin/gist one after a recent reboot.

[2020-05-12 14:07] MoonPadUSer commented on #112
@aunali1
https://pastebin.com/js3tefDX
This one should have all the brcmf stuff in it

[2020-05-12 14:07] aunali1 commented on #112
@yurnam Yeah looks like the rambase is correct, but there is functionality missing in `brcmfmac` that is causing `iee80211`'s etheraddr query request to fail. I'm assuming there's more to this chip's init process than what is done by `brcmfmac`.

[2020-05-12 14:14] aunali1 commented on #112
@npx001 Care to elaborate on what you have found "looking inside" the apple driver.

[2020-05-12 14:19] aunali1 commented on #112
@yurnam @MoonPadUSer Does an interface showup at all?

[2020-05-12 14:20] MoonPadUSer commented on #112
@aunali1 if I run 'ip link show' it only shows lo and an ethernet one

[2020-05-12 14:37] yurnam commented on #112
as dmesg shows brcmf_detach there can't be an interface for the wifi adapter
only lo and eth0 show up

[2020-05-12 15:18] MoonPadUSer commented on #112
@yurnam have you tried the catalina files already?

[2020-05-12 17:57] stefanpartheym commented on #112
Just as a side note: I hosted a repository at https://github.com/stefanpartheym/mbp15-wifi-driver which contains the wifi driver files from a MacBookPro15,2 (Mojave), maybe that helps.

[2020-05-13 05:50] yurnam commented on #112
@MoonPadUSer  yes i tried both catalina and mojave files
catalina files caused the OS to freeze when loading brcmfmac

[2020-05-13 14:14] MoonPadUSer commented on #112
@aunal1
I'm not sure if this is like everything we had before but this log looks better to me as far as I can remember the other ones:
`[   80.597836] brcmfmac: brcmfmac_module_init No platform data available.
[   80.597845] brcmfmac: brcmf_usb_register Enter
[   80.597868] usbcore: registered new interface driver brcmfmac
[   80.597869] brcmfmac: brcmf_pcie_register Enter
[   80.597884] brcmfmac:

[2020-05-13 14:37] MoonPadUSer commented on #112
so ... I'm gonna take a look at the brcmfmac driver rn, and look what causes these errors to appear:
[code]
the error is always the same, but I don't know what it means, so if anyone know what error -5 is, please tell me

[2020-05-13 17:30] MoonPadUSer commented on #112
@yurnam don't you think it's kinda weird that `ip link show` shows an ethernet device, but the MacBook itself, doesn't have a physical ethernet port.

[2020-05-13 17:37] aunali1 commented on #112
@MoonPadUSer Thats an NCM interface exposed by T2 for all userspace communication between macOS and itself.

[2020-05-13 17:40] MoonPadUSer commented on #112
@aunali1 oh, ok, thanks :)
btw, if you have access to a MacBookPro15,2 (or whatever the model is with the BCM43602) it could be great if you could send the output of `sudo dmesg | grep "brcm"` and  `ip link show`

[2020-05-13 17:43] aunali1 commented on #112
@MoonPadUSer BCM43602 is a chipset used on pre-T2 MBPs. Any specific reason you are looking into it?

[2020-05-13 17:47] MoonPadUSer commented on #112
@aunali1 oh, I thought that would be the one from the other MacBookPro15,x but if it isn't I'd like to see those outputs from a mac with an BCM4364

[2020-05-13 17:48] yurnam commented on #112
@MoonPadUSer i know, but the eth0 interface doesn't have to be a Physical Port, it is most likely some internal device that is seen as ethernet device by linux

[2020-05-13 17:48] MoonPadUSer commented on #112
@yurnam yeah, aunali1 already told me 'bout that :)

[2020-05-13 18:58] stefanpartheym commented on #112
@MoonPadUSer I'm on a MacBookPro15,2

`ip link show`:
[code]

`dmesg | grep "brcm"`:
[code]

[2020-05-13 22:38] MoonPadUSer commented on #112
@stefanpartheym vielen dank!
@yurnam does suspend work for you? because for me I have to restart it after I closed the lid

[2020-05-14 04:07] yurnam commented on #112
@MoonPadUSer  no suspend doesn't work either.

[2020-05-14 04:49] Dunedan commented on #112
Just a reminder: Please keep this issue focused on wifi support and discuss other topics in separate issues.

[2020-05-14 13:20] MoonPadUSer commented on #112
@npx001 there is afaik no BCM4357 only a BCM43570

[2020-05-14 13:37] yurnam commented on #112
@MoonPadUSer BCM4357 is AFAIK used in iphones only

[2020-05-15 06:41] npx001 commented on #112
4357 is chipID - not model, in brcm_hw_ids.h -> #define BCM43225_D11N2G_ID	**0x4357**
about kernel driver i maybe wrong there is 4357 support, i just see chipID, but  if you decompile apple driver and compare "AppleBCMWLANChipManagerPCIe4357::initWithChip..." and  "AppleBCMWLANChipManagerPCIe4377::initWithChip..." you can see how close this two are,
firmware for 4357 / 4377 for sure is not same

[2020-05-15 08:13] npx001 commented on #112
sorry, my mistake, there is 0x4357 but is deviceID not chipID

[2020-05-15 08:27] MoonPadUSer commented on #112
@npx001 oh, ok so do you know the chipID?

[2020-05-15 09:22] npx001 commented on #112
if ida decom  is correct, bcm 4377 ->  chipID is dec: 4377 hex: 0x1119

[2020-05-16 13:03] amerhaddadeh opened #143 "WIFI is extremely slow when Bluetooth is on Ubuntu 20.04"
Hello Everyone,

since i have upgraded to Ubuntu 20.04 i started facing an issue with the WIFI when the Bluetooth in on, i can hear some chopping seems like both are working in the same channel or smth.

i have tried to do set the co-existence to N using this:

`echo "options iwlwifi bt_coex_active=N" | sudo tee -a /etc/modprobe.d/iwlwifi.conf`

now this is the output when i `cat` that `iwlwifi.co

[2020-05-17 02:06] MrAsimov commented on #136
I can confirm this patch works as well for MacBookPro13,3

[2020-05-17 02:15] MrAsimov commented on #136
Don't forget todo follow ups about your findings at https://bugzilla.kernel.org/show_bug.cgi?id=195671

[2020-05-23 11:33] mrLSD commented on #116
@Dunedan I have problem with iMac 2019
`get-info.sh` for Ubuntu 16.04 dump:
[iMac19.1.zip](https://github.com/Dunedan/mbp-2016-linux/files/4671652/iMac19.1.zip)

It's not working:
* Build-in Audio
* WiFi
* Bluetooth

I can't imagine how to fix that.
Especially built-in Audio.

Should I create a new Issue?

It will be great to advise.

[2020-05-24 20:24] atodorov opened #144 "RFC: I can't figure out if MBP 15,4 has bluetooth hardware or there's a SW bug"
@Dunedan I've previously contributed my HW listing here:
https://github.com/Dunedan/mbp-2016-linux/tree/master/MacBookPro15%2C4

but I don't see bluetooth hardware listed. This website says MacBook Pro 13 inch, 2019 has bluetooth hardware: https://everymac.com/systems/by_capability/macs-with-bluetooth-different-bluetooth-capabilities.html (all models do).

and in README you say:
`Works out of the

[2020-05-24 20:36] LowLeeWolf commented on #112
Currently on a Macbook Pro 15,3. Having some issues with the wifi not accepting firmware. Attempting this on gentoo. Currently got my patched kernel to boot with a couple other issues I'm figuring out. Anyone with the same model able to tell me which firmware they're using? I downloaded the kauai (X3) files from the aunali1's repo

[2020-05-24 21:27] atodorov commented on #112
I have MacBookPro15,4 (hw info in this repo) with
[code]

If I use `modprobe brcmfmac rambase_addr=0x170000` with the Catalina firmware I get nowhere.

The same command with the Mojave firmware, posted previously by @aunali1 gives
[code]

like @yurnam and @MoonPadUSer have already shown in
https://github.com/Dunedan/mbp-2016-linux/issues/112#issuecomment-573615174 and https://github.com/Dunedan/mb

[2020-05-24 22:30] paralin commented on #112
Checking in here with a MacBook Pro Late 2015 - 13" Retina (MacBook 12.1)

I have combined a lot of solutions into a Buildroot / Skiff package here:

 - https://github.com/paralin/SkiffOS/tree/master/configs/apple/macbook

WiFi on 2.4Ghz networks works fine, with the firmware .txt file, 5.8Ghz networks also work fine.

However on one of my older MacBooks from the same model, the 5.8Ghz doesn't wor

[2020-05-29 10:42] jackweller commented on #143
Wow, I remember a couple years ago I spent weeks, and weeks, and weeks, trying to work out how to fix wifi on an old HP laptop with the same wireless card as you. Here's what I found worked every time:

`sudo modprobe -r rtl8723be`
`sudo modprobe rtl8723be ant_sel=2`
`echo "options rtl8723be ant_sel=2" | sudo tee /etc/modprobe.d/rtl8723-ant-sel.confecho `

If this doesn't work, replace ant_sel=2 w

[2020-06-03 04:06] aunali1 commented on #112
@paralin This issue is for MacBookPro models with a 15 and onward model designation corresponding to a 2018 and onward mfg date.

[2020-06-03 04:21] paralin commented on #112
@aunali1 It's the same driver, chipset, and issue.

[2020-06-03 04:22] paralin commented on #112
@aunali1 Actually: the laptop I'm talking about uses BCM43602 I guess, so I suppose it's a different issue, some others in this thread had the same chipset as me with the ~2015 macbooks.

So yeah you're right that should be moved to a separate issue probably. And/or tracked in the bugzilla.

[2020-06-08 21:53] MrAsimov commented on #136
The patch has been merged to https://github.com/davidjo/snd_hda_macbookpro and the internal microphone is working as well at least for kernel v5.5. I am running MacBookPro13,3.

[2020-06-08 21:57] MrAsimov commented on #47
@Dunedan you should update the README.md section for WIFI both 2.4/5 GHz wifi is working for me on MacBookPro13,3.

[2020-06-09 16:54] Dunedan commented on #47
Feel free to open a PR with the necessary updates to the README. I never got Wifi to work reliably on both 2.4Ghz and 5Ghz bands, but as I don't own a recent MacBook Pro anymore, I can't try out things possible solutions anymore.

[2020-06-13 02:40] connervieira opened #145 "MacBookPro13,3 graphics don't work properly in any distro unless 'nomodeset' flag is set"
(Integrated graphics: Intel HD Graphics 530, Dedicated graphics: Radeon Pro 460)
I've tested in the following distros:
1. Manjaro GNOME
2. Manjaro KDE
3. Pop!_OS
4. Fedora
5. elementaryOS
6. Ubuntu

After booting into the OS or installer, there's a period of anywhere from 10 seconds to 15 minutes where everything works fine. However, after that period, the screen will suddenly become all one color

[2020-06-14 23:26] MrAsimov opened #147 "Issue running FaceTime HD through the uvcvideo driver for kernel v5.5+ for MBP 13,3?"
FaceTime HD through the uvcvideo driver seems not to be running out of box for kernel v5.5+ for MacBook Pro 13,3. Can anyone else confirm it?

[2020-06-15 07:25] FSMaxB-dooshop commented on #147
Yes, I can confirm on Kernel 5.6. Although the  iBridge is detected and the uvcvideo module is loaded there still aren't any video devices.

[2020-06-15 08:55] MrAsimov commented on #147
Any related link how to set it up properly?

[2020-06-15 19:34] joax commented on #112
I was able to make it work for Macbook Pro 15,3 (2018). BCM4364 using the files from @aunali1 . Currently works with 2.4GHz and stable (can connect from far and close the AP).

[2020-06-15 19:59] LowLeeWolf commented on #112
Can you list what firmware files you used?

[2020-06-15 21:04] joax commented on #112
The Macbook Pro Model is A1990, so correction, its model 15,1 (2018) with the Core i9 and 16BG RAM. The files I used for this:

[code]

My setup is:

[code]

The kernel patches I applied were from here:  https://github.com/aunali1/linux-mbp-arch

[2020-06-16 23:56] mfauvain opened #150 "Kernel 5.7 issue"
Hi, macbookpro 14,1 upgrade to kernel 5.7.2 breaks display on gdm/xorg modesetting driver. works with intel driver but can't get the desired resolution (1440x900) with this one, Currenlty trying to understand why, and not sure if it is a kernel regression or a specific gdm issue. Anyone have the same issue?

[2020-06-18 02:21] JorgeChiles commented on #60
217/5000
can you please help me
i have a mac book pro (2017) + Razer CoreX with Geforce RTX2080 super and i want to run it on Ubuntu 18.04 to speed up processes with tensorflow:

$ lspci -k | grep NVIDIA
b9:00.0 VGA compatible controller: NVIDIA Corporation Device 1e81 (rev a1)
b9:00.1 Audio device: NVIDIA Corporation Device 10f8 (rev a1)
b9:00.2 USB controller: NVIDIA Corporation Device 1ad8 (rev

[2020-06-18 02:27] KenaiTheWolf commented on #60
You might want to take stock of the repository you’re in. This is for getting T series chip equipped Macs to run new versions of Linux. This particular issue is about running an eGPU.

[2020-06-18 02:45] JorgeChiles commented on #60
...take stock of the repository you’re in..... ???
what does this mean ... excuse me but I'm not an expert

[2020-06-18 03:27] marc-git commented on #60
Jorge it means you are not asking this in the right place at all. Permission denied might be because you need to run as root. Try asking for help somewhere else.

[2020-06-18 04:43] JorgeChiles commented on #60
Ahhhh /.... Ok ... I did it
 i found this comand:

 echo 1 | sudo tee /sys/bus/pci/devices/0000\:00\:01.2/remove
[sudo] password for jorgeandrespenaaraya:
tee: '/sys/bus/pci/devices/0000:00:01.2/remove': Permission denied
1

[2020-06-18 10:51] ThisIsNoahEvans opened #151 "MacBook Pro 13" 2018 - 15,2"
Any news on the 15,2? Just wondering as some other newer models have support. Thanks!

[2020-06-18 22:20] mfauvain commented on #150
Looking at xorg.log I see
`(II) modesetting: Driver for Modesetting Kernel Drivers: kms`
`(EE) open /dev/dri/card0: No such file or directory`
whereas with kernel 5.6.15 I have
`(II) modesetting: Driver for Modesetting Kernel Drivers: kms`
`(II) modeset(0): using drv /dev/dri/card0`

googling the issue but so far no luck. I reckon it probably have no relation with laptop being a macboopro 14,1 but

[2020-06-18 23:38] mfauvain commented on #150
adding i915 to MODULES=(... i915 ...) in /etc/mkinitcpio.conf and regenerate mkinitcpio works

[2020-06-18 23:38] #150 closed

[2020-06-19 20:43] vxcamiloxv opened #152 "Audio works with workaround on MacBookPro14,3"
Audio works in speakers (with a little noise after in a high volume  level), headphones (perfect), microphone not work on Debian with kernel ´5.6.0-2-amd64´ and this patch https://github.com/davidjo/snd_hda_macbookpro on MacBookPro14,3 (2018)

[2020-06-19 22:08] treymerkley commented on #152
Try restarting pulse, that's worked for me for getting crackling fixed on Manjaro with KDE5

[2020-06-20 07:27] MrAsimov commented on #147
I found out I didn't have the proper APPLE EFI firmware files installed. I followed the steps how to properly copy the APPLE EFI firmware files from https://github.com/Dunedan/mbp-2016-linux/issues/52#issuecomment-364876533

[2020-06-20 07:27] #147 closed

[2020-06-21 06:53] Dunedan commented on #151
Please don't open issues with such generic questions. The purpose of this repository is to discuss and document how to get individual components running and to document the status of upstreaming required fixes for that. The reason the 15,x models aren't covered in the overview yet is because nobody provided a good enough PR adding information about them yet. There are however already multiple open

[2020-06-21 06:53] #151 closed

[2020-06-21 06:56] Dunedan commented on #147
This is also covered in the README itself in the iBridge section: https://github.com/Dunedan/mbp-2016-linux#ibridge

[2020-06-21 07:02] Dunedan commented on #134
I believe this configuration issue got sorted out, therefore I'm closing this now.